<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
    
  唐小筑
  
  </title>
  
  
  <link href="atom.xml" rel="alternate" title="唐小筑" type="application/atom+xml">
    <link rel="stylesheet" href="asset/css/foundation.min.css" />
    <link rel="stylesheet" href="asset/css/docs.css" />
    <script src="asset/js/vendor/modernizr.js"></script>
    <script src="asset/js/vendor/jquery.js"></script>
  <script src="asset/highlightjs/highlight.pack.js"></script>
  <link href="asset/highlightjs/styles/github.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
  function before_search(){
    var searchVal = 'site:blog.tangxiaozhu.com ' + document.getElementById('search_input').value;
    document.getElementById('search_q').value = searchVal;
    return true;
  }
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5534298415663110",
    enable_page_level_ads: true
  });
</script>

  </head>
  <body class="antialiased hide-extras">
    
    <div class="marketing off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">


<nav class="top-bar docs-bar hide-for-small" data-topbar>


  <section class="top-bar-section">
  <div class="row">
      <div style="position: relative;width:100%;"><div style="position: absolute; width:100%;">
        <ul id="main-menu" class="left">
        
        <li id=""><a target="self" href="index.html">Home</a></li>
        
        <li id=""><a target="_self" href="archives.html">Archives</a></li>
        
        </ul>

        <ul class="right" id="search-wrap">
          <li>
<form target="_blank" onsubmit="return before_search();" action="https://google.com/search" method="get">
    <input type="hidden" id="search_q" name="q" value="" />
    <input tabindex="1" type="search" id="search_input"  placeholder="Search"/>
</form>
</li>
          </ul>
      </div></div>
  </div>
  </section>

</nav>

        <nav class="tab-bar show-for-small">
  <a href="javascript:void(0)" class="left-off-canvas-toggle menu-icon">
    <span> &nbsp; 唐小筑</span>
  </a>
</nav>

<aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        
        <li><a target="self" href="index.html">Home</a></li>
        
        <li><a target="_self" href="archives.html">Archives</a></li>
        

    <li><label>Categories</label></li>

        
            <li><a href="%E5%B9%B4%E5%BA%A6.html">年度</a></li>
        
            <li><a href="%E6%A1%88%E4%BE%8B.html">案例</a></li>
        
            <li><a href="%E6%97%A5%E8%AE%B0.html">日记</a></li>
        
            <li><a href="%E6%B2%89%E6%80%9D%E5%BD%95.html">沉思录</a></li>
        
            <li><a href="%E5%B0%91%E6%95%B0%E6%B4%BE.html">少数派</a></li>
        
            <li><a href="Python.html">Python</a></li>
        
            <li><a href="%E6%AF%8F%E5%91%A8%E5%88%86%E4%BA%AB.html">每周分享</a></li>
         

      </ul>
    </aside>

<a class="exit-off-canvas" href="#"></a>


        <section id="main-content" role="main" class="scroll-container">
        
       

 <script type="text/javascript">
	$(function(){
		$('#menu_item_index').addClass('is_active');
	});
</script>
<div class="row">
	<div class="large-8 medium-8 columns">
		<div class="markdown-body home-categories">
		
			<div class="article">
                <a class="clearlink" href="15250920685912.html">
                
                  <h1>删除此电脑中的六个文件</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p>强迫症总要为一些奇葩的问题奔波，Windows 系统让强迫症抓狂……</p>

<p><img src="media/15250920685912/15250920907321.png" alt=""/></p>

<h2 id="toc_0">方法一</h2>

<p>使用注册表删除法，复制粘贴一下内容，保存为 REG 文件，双击，确定，即可。可以全部删除，也可以部分删除。</p>

<h3 id="toc_1">Windows 8.1 &amp; 10 1507 及之前</h3>

<pre><code class="language-text">同样适用于旧版本 WIN 10
========= 复制下面内容 ========= 去除减号 &#39;-&#39; 再运行即可还原
Windows Registry Editor Version 5.00
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{1CF1260C-4DD0-4ebb-811F-33C572699FDE}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{374DE290-123F-4565-9164-39C4925E467B}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{3ADD1653-EB32-4cb0-BBD7-DFA0ABB5ACCA}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{A0953C92-50DC-43bf-BE83-3742FED03C9C}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{A8CDFF1C-4878-43be-B5FD-F8091C1C60D0}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{B4BFCC3A-DB2C-424C-B029-7FE99A87C641}]
</code></pre>

<h3 id="toc_2">Windows 10 1511 及之后</h3>

<pre><code class="language-text">适用于的新版本 WIN 10 （自 2015 年 12 月后）
========= 复制下面内容 ========= 去除减号 &#39;-&#39; 再运行即可还原
Windows Registry Editor Version 5.00
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{f86fa3ab-70d2-4fc7-9c99-fcbf05467f3a}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{d3162b92-9365-467a-956b-92703aca08af}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{B4BFCC3A-DB2C-424C-B029-7FE99A87C641}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{3dfdf296-dbec-4fb4-81d1-6a3438bcf4de}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{088e3905-0323-4b02-9826-5d99428e115f}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{24ad3ad4-a569-4530-98e1-ab02f9417aa8}]
</code></pre>

<h2 id="toc_3">方法二</h2>

<p>在搜索框输入 “regedit” 进入注册表编辑器，找到 <code>HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\FolderDescriptions</code>之后，再找到下列六项，分别将 <code>PropertyBag</code>中的 <code>ThisPCPolicy</code> 由 <code>show</code> 改为 <code>Hide</code> 即可。若要还原再改回 <code>show</code> 即可。</p>

<pre><code class="language-text">　&gt; “图片”：{0ddd015d-b06c-45d5-8c4c-f59713854639}\PropertyBag
　&gt; “视频”：{35286a68-3c57-41a1-bbb1-0eae73d76c95}\PropertyBag
　&gt; “下载”：{7d83ee9b-2244-4e70-b1f5-5393042af1e4}\PropertyBag
　&gt; “音乐”：{a0c69a99-21c8-4671-8703-7934162fcf1d}\PropertyBag
　&gt; “桌面”：{B4BFCC3A-DB2C-424C-B029-7FE99A87C641}\PropertyBag
　&gt; “文档”：{f42ee2d3-909f-4907-8871-4c22fc0bf756}\PropertyBag
</code></pre>

<p><img src="media/15250920685912/15250921882531.png" alt=""/></p>

<p>方法一源自：<a href="http://www.myxzy.com/post-431.html">星知苑</a><br/>
方法二源自：<a href="http://www.pconline.com.cn/win10/741/7412340.html">太平洋电脑网</a></p>

<p>此两种方法风险极小，注册表可保持完整，网上也有其他涉及到删除指定注册表的方法，若要采用务必备份注册表以防意外。</p>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/18</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%A1%88%E4%BE%8B.html'>案例</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250920685912.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250925649984.html">
                
                  <h1>警惕爱国主义</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<h2 id="toc_0">国家的定义</h2>

<p>在谈论爱国时，不免对“国”之定义有疑惑。</p>

<p>西方思想家西塞罗给出了一个国家定义：国家是人民的事业，但人民不是某种随意聚集在一起的人的集合体，而是大量的民众基于法的一致和利益的共同而结合起来的联合体。他的定义有这样的特征，以人民为中心，以正义与合法为准则。但是西塞罗所谓的正义是倾向于自然正义，也即弱者应该服从强者。</p>

<p>基督教思想家奥古斯丁以神的正义替代了自然的正义，而神是至高的，神的正义也即真正的正义，而这却是极为艰难的，与社会主义的最终走向是趋于一致的。奥古斯丁这样定义国家：国家是人民的事业，但人民不是某种随意聚集在一起的人的集合体，而是由某种一致拥有的爱的对象而联系在一起的理性动物的集合体。</p>

<p>在近代历史上，马克思这样论述国家：国家是阶级统治的机关，是一个阶级压迫另一个阶级的机关。而社会主义国家是人民当家作主，即多数人对少数人进行阶级压迫，这相较于少数人压迫多数人是一种巨大的进步。但是，难道没有一个国家是全部公民共同管理也即消除阶级的存在？</p>

<h2 id="toc_1">爱国的定义</h2>

<p>爱国是人类长远以来一种美好的情感。对中国人民来说，爱国既表现在对祖国大好河山、悠久文化历史的热爱，也体现在把这种热爱之情融入到建设社会主义现代化的实践中。故乡之情、乡土之情乃至爱国之情是人类难以避免的人之常情。</p>

<p><img src="media/15250925649984/15250925984190.png" alt=""/></p>

<p>由于涉及文化、地理和政治等，对爱国主义下定义是一件极难的事情，多数定义边界模糊。《韦伯斯特大词典》将爱国主义定义为对国家的热爱或奉献。《简明牛津政治辞典》中，爱国主义一般被定义为对祖国的热爱或保卫祖国利益的热情，但并不一定会形成具体行动。此两种定义倾向于对己国家利益的维护。《布莱克韦尔政治思想百科全书》将爱国主义定义为更多的是对所生活的土地或其生活方式的忠诚，而较少关心民族主义的核心问题即抽象的国家概念。此种定义倾向于人类对己所生活及己土地的热爱之情，这种情感是人类的天性所生，并不强调对国之热爱和维护。</p>

<p>关于爱国主义，列宁也有一些描述。爱国主义是由于千百年来各自的祖国彼此隔离而形成的一种极其深厚的感情。列宁在这里指出了爱国主义局限性的一面，即由于各自的祖国千百年来彼此隔离，从而形成了人们极其深厚的爱国感情。而列宁对这种深厚情感的态度是“如果你是一个社会主义者，你就应当为了国际革命而牺牲自己的一切爱国主义情感”。列宁阐释说“爱国主义，这正是小私有者的经济生活条件造成的一种情感”。小私有者的经济是封闭的自然经济，一直以来都是自给自足，眼中只看到自己那一片天地。且由于自己的经济地位，小资产阶级相较于资产阶级和无产阶级都更加爱国。列宁这里所谓爱国是爱己国，是维护其稳定以保障自身的利益或生活的稳定，列宁对此是倾向于持批判态度的。</p>

<h2 id="toc_2">爱国主义之利弊</h2>

<p>爱国有狭义与广义之分。爱国主义在《布莱克韦尔政治思想百科全书》中的定义也应是狭义的，它倾向于拜土地，此为第一种狭义爱国。列宁所指应当是狭义的爱国，即由于祖国彼此隔离、生活环境封闭而产生的爱国情感，此为第二种狭义爱国。而广义的爱国，不应当只是爱己国，也应是爱异国，是倾向于博爱的，是对全人类共同命运的担忧。</p>

<p>第一种狭义爱国主义，因其由人拜土地天性而形成，是一种极私人的情感。</p>

<p>第二种狭义爱国主义，是由各自祖国长久彼此隔离而形成。爱己国的主体必然是一群人，而非少数个人。由于隔离而导致相互无知，产生了敌视或向往心理。</p>

<p>社会主义核心价值观所倡导的爱国，倾向于是第二种狭义爱国主义。多数中国人民与外国人民交流及对外国了解皆甚少。这一方面导致了对日本、韩国等有历史积怨国家的偏见，另一方面部分增长了对美国等发达国家的向往或偏见。社会所倡导的爱国，过于强调爱己国，构建了爱国边界。这有助于提高自我对祖国的热爱与自豪感，但也有助于爱国主义的泛滥。伴随爱国主义增长的也许是对其他国家或民族的轻视和歧视或自卑和自艾。美国政治家塞缪尔·约翰逊这样评述爱国主义：爱国主义是流氓无赖的最后藏身所。约翰逊主要针对滥用爱国主义的政党和政客，但这也在提醒警惕爱国主义。</p>

<p>广义的爱国主义，是对地球上所有国度皆有爱，这已经升华到对人类共同命运的担忧，是全人类和谐相处和全人类文明得以保存的福音。</p>

<h2 id="toc_3">应有之态度</h2>

<p>国家应秉承维护世界和平之信念，在社会主义核心价值观中对爱国进行更多的阐述。在中国梦之实现和中华民族之崛起过程中，拥有对其他国家或民族的真切关怀。资本主义所产生的倾向利益至上思想应为国家所警惕，国与国之间的重要纽带不仅仅是利益关系。</p>

<p>爱国是美好的感情，不仅仅是爱己国，爱异国也是一种美好的情感。</p>

<p>社会应逐渐持有宽阔的包容之心。勿争辩爱国否，而互扣帽子。勿将社会主义核心价值观作为武器。而现在在现实和网络中，社会舆论是倾向于偏激的。对于个人尤其是名人说出或做出有悖于爱国主义的话或事，社会舆论几乎一边倒地去指责。 </p>

<p>个人应逐渐持有敬畏之心。警惕教条主义，勿将话语捧为真理，也勿蔑视话语。警惕爱国主义，警惕对异国异族的偏见，警惕被煽动。多存疑惑，思虑何为爱国，何为爱国主义。爱国主义种类繁多，意大利人发明的法西斯主义是爱国主义的一种，法国人发明的大国沙文主义是爱国主义的一种，德国人的纳粹主义虽然严格说是民族主义，但也可以归纳为一种爱国主义，还有一个在西方延续了两千多年的军国主义也是一种爱国主义。这些爱国主义相对极端，但皆是由第二种狭义爱国发展而来。</p>

<p>个人而言，应该主动消除相互无知的困扰。可以主动了解异域异邦，了解那里的历史和文化，和那里的人民成为朋友。这时，广义的爱国主义，也不是那么难真正接受了。</p>

<h2 id="toc_4">参考文献</h2>

<p>[1] 陈秀丽．社会主义核心价值观的凝练[J]．求知，2014 (2)：15-17．<br/>
[2] 沈蕾．浅谈社会主义核心价值观[J]．新疆社科论坛，2007(4)：8-10．<br/>
[3] 王汉文．以社会主义核心价值观引领大学生思想政治教育[J]．江汉大学学报(社会科学版)，2010(2)：72-75．<br/>
[4] 西塞罗．论国家[A]．王焕生译．论共和国论法律[C]．北京：中国政法大学出版社，1997．<br/>
[5] 王晓朝．论西方古代国家定义的演进[J]．西北师大学报(社会科学版)，2010(1)：1-6．<br/>
[6] Webster’s Revised Unabridged Dictionary, MICRA Inc. , 1998.<br/>
[7] Mclean and McMillan eds. , The Concise Oxford Dictionary of Politics, p.400.<br/>
[8] David Miller eds. , The Blackwell Encyclopedia of Political Thought, London: Blackwell Reference, 1987, p.369.</p>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/17</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%B2%89%E6%80%9D%E5%BD%95.html'>沉思录</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250925649984.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250922329733.html">
                
                  <h1>使用 Hexo 搭建博客的深度优化与定制</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<ul>
<li>
<a href="#toc_0">深度优化</a>
<ul>
<li>
<a href="#toc_1">文章链接唯一化</a>
</li>
<li>
<a href="#toc_2">语法优化</a>
<ul>
<li>
<a href="#toc_3">引用</a>
</li>
<li>
<a href="#toc_4">折叠代码或文字</a>
</li>
</ul>
</li>
<li>
<a href="#toc_5">搜索引擎优化</a>
<ul>
<li>
<a href="#toc_6">添加网站地图</a>
</li>
<li>
<a href="#toc_7">添加蜘蛛协议</a>
</li>
<li>
<a href="#toc_8">限制出站链接</a>
</li>
<li>
<a href="#toc_9">主动推送新链接</a>
</li>
</ul>
</li>
<li>
<a href="#toc_10">启用 https</a>
</li>
<li>
<a href="#toc_11">加速国内访问</a>
</li>
</ul>
</li>
<li>
<a href="#toc_12">深度定制</a>
<ul>
<li>
<a href="#toc_13">每篇文章后面加文字</a>
</li>
<li>
<a href="#toc_14">修改链接文字样式</a>
</li>
<li>
<a href="#toc_15">目录默认全展开</a>
</li>
<li>
<a href="#toc_16">删除上下篇按钮</a>
</li>
<li>
<a href="#toc_17">修改授权协议图标</a>
</li>
<li>
<a href="#toc_18">添加其他分享</a>
</li>
</ul>
</li>
<li>
<a href="#toc_19">一键图床</a>
</li>
<li>
<a href="#toc_20">错误信息</a>
<ul>
<li>
<a href="#toc_21">LF will be replaced</a>
</li>
<li>
<a href="#toc_22">无法生成 html</a>
</li>
</ul>
</li>
<li>
<a href="#toc_23">题外话</a>
<ul>
<li>
<a href="#toc_24">标题优化</a>
</li>
<li>
<a href="#toc_25">为何要使用图床</a>
</li>
</ul>
</li>
</ul>


<p>由于操作失误出现未知错误，不得不重新来过，同时也萌发写教程的打算。关于 Hexo 建立博客的文章数不胜数，本文只是简要介绍这点，重点是深度优化与定制部分。</p>

<p>移除：卸载 Git 和 Node 后，删除所有博客文件即为移除。如果遭遇文件夹无法删除的情况，使用命令 <code>rd/s/q</code> 可强制删除。</p>

<p>安装：利用基于 Node.js 的 Hexo 可以快速搭建一个博客网站。搭建前必须安装 <a href="https://nodejs.org/en/">Node.js</a> 和 <a href="https://git-scm.com/">Git</a>。Node.js 是一款开源且跨平台的服务器端和网络应用，使用 JavaScript 开发。Git 是一款免费、开源的分布式版本控制系统。安装过程中全点下一步即可。之后，请参照 <a href="https://hexo.io/zh-cn/docs/index.html">官方中文文档</a> 进行 Hexo 的安装。</p>

<p>网站初始化：在指定文件夹初始化网站文件。在你想存储网站文件的文件夹中，鼠标右键后，打开 <code>Git Bash Here</code>，然后输入 <code>hexo init blog</code>，<code>blog</code> 是文件名，可任意取。成功后会出现 <code>INFO  Start blogging with Hexo!</code> 提示信息。Windows 用户由于自带的记事本简陋难用，故建议安装 <a href="https://notepad-plus-plus.org/">Notepad++</a> 以编辑 .yml 文件。</p>

<p>主题：在此建议使用最受欢迎的 NexT 主题，参照其 <a href="http://theme-next.iissnan.com/getting-started.html">官方文档</a> 可轻易完成配置。安装插件的命令要在博客根目录下执行。</p>

<h2 id="toc_0">深度优化</h2>

<h3 id="toc_1">文章链接唯一化</h3>

<p>也许你会数次更改文章题目或者变更文章发布时间，在默认设置下，文章链接都会改变，不利于搜索引擎收录，也不利于分享。唯一永久链接才是更好的选择。安装此插件后，不要在 <code>hexo s</code> 模式下更改文章文件名，否则文章将成空白。</p>

<pre><code class="language-text">npm install hexo-abbrlink --save
</code></pre>

<p>在 <code>站点配置文件</code> 中查找代码 <code>permalink:</code>，将其更改为:</p>

<pre><code class="language-text">permalink: posts/:abbrlink/  # “posts/” 可自行更换 
</code></pre>

<p>在 <code>站点配置文件</code> 中添加如下代码：</p>

<pre><code class="language-text"># abbrlink config
abbrlink:
  alg: crc32  # 算法：crc16(default) and crc32 
  rep: hex    # 进制：dec(default) and hex
</code></pre>

<p>可参照样例以选择：</p>

<pre><code class="language-text">crc16 &amp; hex
https://post.zz173.com/posts/66c8.html

crc16 &amp; dec
https://post.zz173.com/posts/65535.html

crc32 &amp; hex
https://post.zz173.com/posts/8ddf18fb.html

crc32 &amp; dec
https://post.zz173.com/posts/1690090958.html
</code></pre>

<h3 id="toc_2">语法优化</h3>

<h4 id="toc_3">引用</h4>

<p>默认的语法无法添加角标（footnotes）以注明引用，这种可来回跳转的引用还是挺有用处的。</p>

<pre><code class="language-text">npm install hexo-footnotes --save
</code></pre>

<p>安装完毕请确认是否生效，如不生效，在 <code>站点配置文件</code> 中添加如下代码以手动启用：</p>

<pre><code class="language-text">plugins:
  - hexo-footnotes
</code></pre>

<p><img src="media/15250922329733/15250923179919.jpg" alt=""/></p>

<h4 id="toc_4">折叠代码或文字</h4>

<p><code>&lt;head&gt;</code> 后添加一下代码：</p>

<pre><code class="language-text">  &lt;script&gt;
    function ishidden(odiv){
      var vdiv = document.getElementById(odiv);
      vdiv.style.display = (vdiv.style.display == &#39;none&#39;)?&#39;block&#39;:&#39;none&#39;;
    }
  &lt;/script&gt;
</code></pre>

<pre><code class="language-text">&lt;div onclick=&quot;ishidden(&#39;X&#39;)&quot;&gt;点击此处展开内容&lt;/div&gt;
&lt;div id=&quot;X&quot; style=&quot;display:none;&quot;&gt;需要折叠的代码或文字放在这里&lt;/div&gt;
</code></pre>

<p>X 为标记，任意设置，在同一文章中，各不相同即可。</p>

<h3 id="toc_5">搜索引擎优化</h3>

<p>我在简书同步发布文章，搜索结果里简书排在首位，我的独立博客可能找不到，必须要进行 SEO 优化。</p>

<h4 id="toc_6">添加网站地图</h4>

<pre><code class="language-text">npm install hexo-generator-sitemap --save
npm install hexo-generator-baidu-sitemap --save
</code></pre>

<p>在 <code>站点配置文件</code> 中添加如下代码。</p>

<pre><code class="language-text"># hexo sitemap 
sitemap:
path: sitemap.xml
baidusitemap:
path: baidusitemap.xml
</code></pre>

<p>配置成功后，会生成 <code>sitemap.xml</code> 和 <code>baidusitemap.xml</code>，前者适合提交给谷歌搜素引擎，后者适合提交百度搜索引擎。其次，在 <code>robots.txt</code> 中添加下面的一段代码：</p>

<pre><code class="language-text">Sitemap: http://blog.tangxiaozhu.com/sitemap.xml
Sitemap: http://blog.tangxiaozhu.com/baidusitemap.xml
</code></pre>

<h4 id="toc_7">添加蜘蛛协议</h4>

<p><code>robots.txt</code> 放置在 <code>\source</code>  目录下。</p>

<pre><code class="language-text">#hexo robots.txt
User-agent: *
Allow: /
Allow: /archives/

Disallow: /vendors/
Disallow: /js/
Disallow: /css/
Disallow: /fonts/
Disallow: /vendors/
Disallow: /fancybox/

Sitemap: http://blog.tangxiaozhu.com/search.xml

Sitemap: http://blog.tangxiaozhu.com/sitemap.xml
Sitemap: http://blog.tangxiaozhu.com/baidusitemap.xml
</code></pre>

<p>此协议内容上与其他相比，增加了 <code>Sitemap: http://blog.tangxiaozhu.com/search.xml</code>，当然我也忘了为何增加。</p>

<h4 id="toc_8">限制出站链接</h4>

<p>网络爬虫会在当前页面搜索所有的链接，故有可能跳到别的网站。<code>nofollow</code> 标签是由谷歌领头创新的一个 “反垃圾链接” 的标签，并被各大搜索引擎广泛支持，引用 <code>nofollow</code> 标签的目的是：用于指示搜索引擎不要追踪（即抓取）网页上的带有 <code>nofollow</code> 属性的任何出站链接，以减少垃圾链接的分散网站权重。</p>

<pre><code class="language-text">npm install hexo-autonofollow --save
</code></pre>

<p>在 <code>站点配置文件</code> 中添加如下代码。</p>

<pre><code class="language-text">nofollow:
    enable: true
    exclude: # 例外的链接，可将友情链接放置此处
    - exclude1.com
    - exclude2.com
</code></pre>

<h4 id="toc_9">主动推送新链接</h4>

<p>解决百度爬虫被禁止访问的问题，提升网站收录质量和速度。</p>

<pre><code class="language-text">npm install hexo-baidu-url-submit --save
</code></pre>

<p>在 <code>站点配置文件</code> 中添加如下代码。</p>

<pre><code class="language-text">baidu_url_submit:
  count: 5 ## 比如3，代表提交最新的三个链接
  host: blog.tangxiaozhu.com ## 在百度站长平台中注册的域名
  token:  ## 请注意这是您的秘钥， 请不要发布在公众仓库里!
  path: baidu_urls.txt ## 文本文档的地址， 新链接会保存在此文本文档里
</code></pre>

<h3 id="toc_10">启用 https</h3>

<p>注册 <a href="https://www.cloudflare.com">CloudFlare</a>，然后添加网站地址（顶级域名），会提示将 DNS 换为：</p>

<pre><code class="language-text">charles.ns.cloudflare.com
ivy.ns.cloudflare.com
</code></pre>

<p>DNSPod 等不能与 CloudFlare 混用，为减少麻烦，一次使用一个 Name Server 比较好。此时等待一段时间 <code>Overview</code> 中状态会变为 <code>Active</code>。然后在 <code>Page Rules</code> 中设置总是使用 <code>https</code>，如图所示。</p>

<p><img src="media/15250922329733/15250924123144.png" alt=""/></p>

<p>但是在搞定以后，却无法变成小绿锁，因为七牛的图床外链是 <code>http</code>，似乎收费或者绑定自定义域名并备案才可以申请使用 <code>https</code>，<a href="https://github.com/Suxiaogang/WeiboPicBed">新浪微博图床</a> 支持返回 <code>https</code> 安全协议的图片地址。但最终我又用回 <code>http</code>，因为不确认微博图床的可靠性，然后最好清除下浏览器缓存。</p>

<p><img src="media/15250922329733/15250924310356.png" alt=""/></p>

<h3 id="toc_11">加速国内访问</h3>

<p>同时部署到 <code>Coding.net</code>，在 DnsPod 设置默认访问 <code>you.coding.me</code>，国外访问 <code>you.github.io</code>即可。</p>

<h2 id="toc_12">深度定制</h2>

<p>也许只适用于 NexT 主题，而深度优化是通用的。所有内容是 NexT 主题 <a href="http://theme-next.iissnan.com/getting-started.html">官方文档</a> 所没有的。</p>

<h3 id="toc_13">每篇文章后面加文字</h3>

<p><code>layout/_macro/post.swig</code> 修改：</p>

<pre><code class="language-text"> {{ post.content }}
          {% endif %}
        {% endif %}
      {% else %}
        {{ post.content }}
        
# 大家好，这里是 NexT 主题下的文章内容底部位置
# 既然来啦，写点什么这里吧，写上去，所有文章底部都看到哦
        
      {% endif  %}
</code></pre>

<h3 id="toc_14">修改链接文字样式</h3>

<p>将链接文本设置为蓝色，鼠标划过时文字颜色加深，并显示下划线。</p>

<p><code>themes\next\source\css\_common\components\post\post.styl</code> 添加以下代码：</p>

<pre><code class="language-text">.post-body p a{
  color: #0593d3;
  border-bottom: none;

  &amp;:hover {
    color: #0477ab;
    text-decoration: underline;
  }
}
</code></pre>

<p>选择 <code>.post-body</code> 是为了不影响标题，选择 <code>p</code> 是为了不影响首页“阅读全文”的显示样式。</p>

<p>参考：<a href="http://www.wuxubj.cn/2016/08/Hexo-nexT-build-personal-blog/">http://www.wuxubj.cn/2016/08/Hexo-nexT-build-personal-blog/</a></p>

<h3 id="toc_15">目录默认全展开</h3>

<p><code>~/themes/next/source/css/_custom/custom.styl</code> 中添加以下代码：</p>

<pre><code class="language-text">.post-toc .nav .nav-child { display: block; }
</code></pre>

<p>这样会导致目录太长，以至于在一个页面中无法全部显示。不过并不会影响阅读体验。</p>

<h3 id="toc_16">删除上下篇按钮</h3>

<p><code>themes\next\layout\_macro\post</code></p>

<pre><code class="language-text"> rel=&quot;tag&quot;&gt;#{{ tag.name }}&lt;/a&gt;
          {% endfor %}
        &lt;/div&gt;
      {% endif %}

删除开始    {% if not is_index and (post.prev or post.next) and not navlessPost %}
        &lt;div class=&quot;post-nav&quot;&gt;
          &lt;div class=&quot;post-nav-next post-nav-item&quot;&gt;
            {% if post.next %}
              &lt;a href=&quot;{{ url_for(post.next.path) }}&quot; rel=&quot;next&quot; title=&quot;{{ post.next.title }}&quot;&gt;
                &lt;i class=&quot;fa fa-chevron-left&quot;&gt;&lt;/i&gt; {{ post.next.title }}
              &lt;/a&gt;
            {% endif %}
          &lt;/div&gt;

          &lt;div class=&quot;post-nav-prev post-nav-item&quot;&gt;
            {% if post.prev %}
              &lt;a href=&quot;{{ url_for(post.prev.path) }}&quot; rel=&quot;prev&quot; title=&quot;{{ post.prev.title }}&quot;&gt;
                {{post.prev.title}} &lt;i class=&quot;fa fa-chevron-right&quot;&gt;&lt;/i&gt;
              &lt;/a&gt;
            {% endif %}
          &lt;/div&gt;
        &lt;/div&gt;
结束    {% endif %}
&lt;/div&gt;
</code></pre>

<p>注意：利用最上方的代码可以定位，如果后悔可再添加删除的代码。</p>

<h3 id="toc_17">修改授权协议图标</h3>

<p>在 <a href="https://creativecommons.org/about/downloads/">授权协议官网</a> 下载想要的矢量图片，替换即可。</p>

<h3 id="toc_18">添加其他分享</h3>

<p>添加跟我博客同样的分享条，请看 <a href="http://wiki.mob.com/sharesdk-for-web%E5%BF%AB%E9%80%9F%E9%9B%86%E6%88%90/">官方文档</a>，具体的操作方式请看 <a href="http://https://segmentfault.com/a/1190000004979461">Magicer 的教程</a>。</p>

<pre><code class="language-text">&lt;!--MOB SHARE BEGIN--&gt;
&lt;div class=&quot;-mob-share-ui-button -mob-share-open&quot;&gt;分享&lt;/div&gt;
&lt;div class=&quot;-mob-share-ui&quot; style=&quot;display: none&quot;&gt;
    &lt;ul class=&quot;-mob-share-list&quot;&gt;
        &lt;li class=&quot;-mob-share-weibo&quot;&gt;&lt;p&gt;新浪微博&lt;/p&gt;&lt;/li&gt;
        &lt;li class=&quot;-mob-share-tencentweibo&quot;&gt;&lt;p&gt;腾讯微博&lt;/p&gt;&lt;/li&gt;
        &lt;li class=&quot;-mob-share-qzone&quot;&gt;&lt;p&gt;QQ空间&lt;/p&gt;&lt;/li&gt;
        &lt;li class=&quot;-mob-share-qq&quot;&gt;&lt;p&gt;QQ好友&lt;/p&gt;&lt;/li&gt;
        &lt;li class=&quot;-mob-share-renren&quot;&gt;&lt;p&gt;人人网&lt;/p&gt;&lt;/li&gt;
        &lt;li class=&quot;-mob-share-kaixin&quot;&gt;&lt;p&gt;开心网&lt;/p&gt;&lt;/li&gt;
        &lt;li class=&quot;-mob-share-douban&quot;&gt;&lt;p&gt;豆瓣&lt;/p&gt;&lt;/li&gt;
        &lt;li class=&quot;-mob-share-facebook&quot;&gt;&lt;p&gt;Facebook&lt;/p&gt;&lt;/li&gt;
        &lt;li class=&quot;-mob-share-twitter&quot;&gt;&lt;p&gt;Twitter&lt;/p&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;div class=&quot;-mob-share-close&quot;&gt;取消&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;-mob-share-ui-bg&quot;&gt;&lt;/div&gt;
&lt;script id=&quot;-mob-share&quot; src=&quot;http://f1.webshare.mob.com/code/mob-share.js?appkey=你的appkey&quot;&gt;&lt;/script&gt;
&lt;!--MOB SHARE END--&gt;  
</code></pre>

<p>注意 <code>appkey</code> 要修改为自己的。</p>

<h2 id="toc_19">一键图床</h2>

<p>适用于两种平台的免费软件，可以一键上传图片到七牛等服务器，同时获取外链。没有提供自动压缩功能实在遗憾，可惜我又不会编程。</p>

<ol>
<li>macOS 平台：<a href="http://www.lzqup.com/">U 图床</a> &amp; <a href="https://github.com/liufsd/PhotoCloud">PhotoCloud</a> &amp; iPic</li>
<li>Windows 平台：<a href="http://mpic.lzhaofu.cn/">MPic</a></li>
</ol>

<h2 id="toc_20">错误信息</h2>

<h3 id="toc_21">LF will be replaced</h3>

<p>Windows 提交命令的时候出现 <code>warning: LF will be replaced by CRLF in XXXXXXXXXXXXXX</code> 的警告。输入命令：</p>

<pre><code class="language-text">git config --global core.autocrlf false
</code></pre>

<h3 id="toc_22">无法生成 html</h3>

<p>输入<code>Hexo g</code> 后没有生成 <code>html</code> 文件，此时只需将根目录下 <code>package.json</code> 中 <code>dependencies</code> 的所有项都添加 <code>站点配置文件</code> 的 <code>plugins</code> 下。网上并没有相应的解决办法，知乎上也有提问却并没有回答，我也是不断试错，最后明白有时候手动启用插件才是正途。比如：</p>

<pre><code class="language-text">plugins: 
  - hexo
  - hexo-abbrlink
  - hexo-baidu-url-submit
  - hexo-deployer-git
  - hexo-footnotes
  - hexo-generator-archive
  - hexo-generator-baidu-sitemap
  - hexo-generator-category
  - hexo-generator-feed
  - hexo-generator-index
  - hexo-generator-searchdb
  - hexo-generator-sitemap
  - hexo-generator-tag
  - hexo-renderer-ejs
  - hexo-renderer-marked
  - hexo-renderer-stylus
  - hexo-server
</code></pre>

<h2 id="toc_23">题外话</h2>

<h3 id="toc_24">标题优化</h3>

<p>将标题、关键字、描述连在一起，固然有利于 SEO 但并不美观，故我拒绝。</p>

<h3 id="toc_25">为何要使用图床</h3>

<p>GitHub 建议 Pages 网站总量不要超过 1 GB，如果超过会发送邮件要求缩减体积，只是你也可以无视这个提醒，但过度使用的话一定会被限制的。GitHub 提供每月 100 GB 的流量。从这个角度来看，使用 GitHub 本身作为图床确实没问题，也即将图片放在 <code>source</code> 下再引用是完全可行的。甚至有人利用 GitHub 开发图床服务。</p>

<p>然而还要考虑这些问题。首先，国内与 GitHub 的连接是比较缓慢的，故会减缓网站访问速度和增加部署时间；其次，总量越来越大，如果网络是计流量的话将难以承担。</p>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/17</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%A1%88%E4%BE%8B.html'>案例</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250922329733.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250919948770.html">
                
                  <h1>风险的词源</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p>写一篇论文涉及到了风险二字，突然好奇风险这个词的来历。熟悉的字词不知其背后的故事岂不是憾事？</p>

<p><a href="http://www.zdic.net/c/e/15f/356920.htm">风险</a>：危险；遭受损失、伤害、不利或毁灭的可能性。<a href="http://www.zdic.net/c/e/15f/356920.htm">風險</a>：危險、危機。</p>

<p><a href="http://www.zdic.net/z/28/xs/98CE.htm">风</a>，本意为空气流动的现象；动词意为刮风，风干，走逸，嬉戏；形容词意为传说的，放荡的；作副词时通“凡”。<a href="http://www.zdic.net/z/27/xs/9669.htm">险</a> ，本意为地势高低悬殊，名词意为险要之地，副词意为几乎。</p>

<p>维基百科：<strong>风险</strong> 是相对某有机体的，指某可能发生的事件（辞源于 <strong>航海者</strong>），如果发生，能阻碍有机体的发展，甚至走向衰亡，<strong>风险</strong> 是指事件发生与否的不确定性。危险﹑危机。</p>

<p>百度百科：<strong>航海者</strong> 是 <a href="https://book.douban.com/subject/4881511/">伊索寓言全集</a> 中第 307 个故事：有几个人乘船出海。大海的气候变化万千，船刚驶入海面时，恰恰碰上了狂风巨浪，船几乎被巨浪吞没。有个人撕破衣服，大声悲惨地痛哭，祈求庇护神，许愿说如能得救，定当还愿报恩。过了不久，风暴过去了，大海恢复了往日的平静，大家为幸免于难而互相祝福，手舞足蹈，高兴极了。老实的舵工却对他们说道：“朋友们，幸免于难确实值得高兴庆贺。但我们还必须勇敢地去面对说不定还会再来的狂风巨浪。”</p>

<p>由此，我做出简要的结论：风险之所以为风险，源于海上狂风的危险。</p>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/17</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%97%A5%E8%AE%B0.html'>日记</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250919948770.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250918783638.html">
                
                  <h1>我的密码管理心得</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p>我现在全面使用 1Password 来管理我的账号密码及密保、软件许可等信息，在此简要地介绍 1Password 的优点：</p>

<ol>
<li>全平台且优美；</li>
<li>支持指纹解锁；</li>
<li>数据库可备份在自己的云盘，如 Dropbox 等；</li>
<li>支持安全检查，如密码已使用时间、弱密码等；</li>
<li>集成了二步验证系统。 </li>
</ol>

<hr/>

<p>四年前我更换了手机号，尝到了帐号找回或重注册的种种烦恼，比如网易，我甚至上传了身份证照片以找回安全信息，后来也颇有后悔之意，因为我并不常用网易邮箱。如京东之类的帐号就删除订单记录等再重注册。且愿我的隐私信息还能称之为隐私。这段经历使我痛定思痛，又联想到更久远的时间丢失的帐号。于是，我就有了现在这一密码、密保等信息的管理方式，省心且放心。</p>

<p>必须告诉诸位，这一方式极其容易上手，所要做的不过是 <strong>安装几个应用</strong>，只是录入信息较为消耗时间。也许大部分女同胞及部分男同学并不在乎账户的相关问题，无非再注册的事情。可将我们的虚拟财产加以适当的保护至少是件听着还不错的事，所以即使你的帐号、密码等大同小异，也不妨记录下来，尤其是密保信息。</p>

<p><img src="media/15250918783638/15250919124376.png" alt=""/></p>

<h2 id="toc_0">MacPass</h2>

<p><a href="https://github.com/mstarke/MacPass">MacPass</a> 是 <a href="http://keepass.info/">KeePass</a> 官方推荐的第三方开源且免费的 Mac KeePass 客户端。<a href="https://minikeepass.github.io/">MiniKeePass</a> 是第三方开源且免费的 iOS KeePass 客户端。</p>

<p>MacPass 默认是只保护密码，我则点选了保护所有项目。因为为了方便我会在<code>注释</code>里存储许多重要信息，并不使用<code>自定义</code>等功能。加密轮次可以点击测试，会自动推荐一个值。但实际上我并不了解这样做是否更安全。</p>

<p>密码数据库后设置密码，任选一文件作为密钥文件或者新生成。将数据库存储在网盘同步盘，将密钥文件存储在另一网盘，分离存储也加强了安全性。若完全不愿意借助云，则可以存储在移动介质。</p>

<h2 id="toc_1">MiniKeePass</h2>

<p>在 iPhone 上使用 MiniKeePass 应用：在 Mac 上更新密码后，在 iPhone 上将网盘新同步的密码库导出到 MiniKeePass 中打开，原密码库将被覆盖。</p>

<p>另外，可以在 MiniKeePass 中再新建一个数据库，在 iPhone 上注册新账号时，可以纪录用户名，并生成密码。之后，再在 Mac 上录入原数据库。<strong>不建议</strong> 在 MiniKeePass 中的原数据库（即网盘同步的数据库）纪录 iPhone 上注册的帐号，虽然从 MiniKeePass 可以导入到网盘，但有的网盘会自动覆盖掉原数据库，可能会丢失 Mac 上还没来得及同步的数据。</p>

<h2 id="toc_2">辅助方案</h2>

<p>iPhone 上也可使用 1Password 作两点用途：</p>

<ol>
<li>记录常用帐号密码，诸多应用已支持自动输入，但密保信息仅纪录在 KeePass 中；</li>
<li>许多应用以支持 1Password 自动创建新账号和密码，而后在电脑上录入到 KeePass 客户端。</li>
</ol>

<p>在 Mac 上可以使用浏览器或扩展如 LastPass 记住常用密码，但不要纪录密保信息等。这个帐号管理方法我已尝试两年有余，方法安全且主要涉及的应用均免费开源。我几乎不再记忆任何密码，也再也不担忧丢失帐号信息。而且部分网站的密保系统再复杂我也可以轻松应对。</p>

<p>最近，又对每次都要复制粘贴密码感到烦了。于是，我将自己的账号分为三个等级：</p>

<ol>
<li>第一序列：涉及到财产的账号；</li>
<li>第二序列：不直接涉及财产但较为重要的；</li>
<li>第三序列：一般账号。</li>
</ol>

<p>然后针对每一序列设计不同的密码规则，包含大小写字母、符号、数字，这样我就记住了所有密码。而 KeePass 最大的作用就是记录密保等关键信息。</p>

<p>诗云：安能摧眉折腰记密码，使我不得开心颜！</p>

<p><a href="http://mstarke.github.io/MacPass/">KeePass for Mac</a><br/>
<a href="https://itunes.apple.com/us/app/minikeepass-secure-password/id451661808?mt=8">KeePass for iOS</a> <br/>
<a href="http://keepass.info/download.html">KeePass for Windows</a><br/>
<a href="http://www.keepassdroid.com/">KeePass for Android</a></p>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/17</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%A1%88%E4%BE%8B.html'>案例</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250918783638.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250917271061.html">
                
                  <h1>MacBook 升级方案</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p>我持有的设备是 MacBook Pro，但是升级方案一般是通用的。我更建议在购买时一步到位，虽然贵很多，但后续升级要承担风险，并会失去保修资格。</p>

<p>注意，2013 之后内存是无法升级的，除非完全更换主板，但价格、风险总体上高于收益。</p>

<p>磁盘的扩容主要有三个途径：</p>

<ol>
<li>直接更换 SSD：<a href="https://eshop.macsales.com/shop/ssd/owc/macbook-pro-retina-display/2013-2014-2015">OWC Macsales</a>；</li>
<li>装载 SD 卡：淘宝，<a href="http://www.dgtle.com/article-9657-1.html">Nifty</a>，<a href="https://cn.transcend-info.com/apple/jetdrivelite/">创见</a> ；</li>
<li>装载 SD 融合卡：<a href="https://www.tardisk.com/pages/buy">TarDisk</a>。</li>
</ol>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/17</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%A1%88%E4%BE%8B.html'>案例</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250917271061.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250914805050.html">
                
                  <h1>快速切换 Apple App Store 账号</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p>Mac App Store：</p>

<ol>
<li>mas，<a href="https://sspai.com/post/40382">终端上的 Mac App Store「mas」让应用的安装与更新无比轻松</a>；</li>
<li>Switcher，<a href="https://github.com/X140Yu/Switcher">Switcher for macOS</a>；</li>
<li>Keyboard Maestro，<a href="http://readful.com/post/77044128470/%E5%88%A9%E7%94%A8-keyboard-maestro-%E5%88%87%E6%8D%A2-appstore-%E5%B8%90%E6%88%B7">利用 Keyboard Maestro 切换 Appstore 帐户</a>；</li>
<li>Alfred，<a href="http://www.packal.org/workflow/apple-account-switcher">Apple Account Switcher</a>；</li>
<li>AppleScript，找不到了……</li>
</ol>

<p>iOS App Store：</p>

<ul>
<li>使用 Workflow 换区。</li>
</ul>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/17</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%A1%88%E4%BE%8B.html'>案例</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250914805050.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250906941645.html">
                
                  <h1>关于天大北洋苹果店的郁闷经历</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p>可“化力气为浆糊”，却无法化干戈为玉帛，故出此文以慰昔日及今日之郁闷。</p>

<p>最近感到不太满意电脑的性能和存储空间，遂想再购置一台电脑。在 <a href="http://buyersguide.macrumors.com/#Retina_MacBook_Pro">MacRumors</a> 查询了购买建议（建议诸君也这么做），发现 14 年款 MacBook Pro 是于 <a href="http://www.macrumors.com/2014/07/29/updated-retina-macbook-Pro-faster-haswell-more-ram/">2014年7月29日</a> 凌晨发布。想到自己原先的 <strong>MacBook Pro 2013 末</strong> 似乎也是在 14 年六七月份所购。</p>

<p>遂找来在<code>天大北洋科技开发有限公司：苹果天大校园店</code>买电脑的签购单，确认购买一个月后新款 <strong>MacBook Pro 2014 中</strong> 就上市了，除了教育优惠还可以叠加新学期返校教育优惠，再优惠 600 人民币……</p>

<p>导购员为何不给个建议呢？不过如果仅是这样的话，时至今日我大概也只是皱皱眉，因为毕竟是自己考虑不周。可一想到购买电脑时导购员的态度：是偏于随意的态度，两三人自顾聊着天，偶尔和我说两三句。还说教育优惠需要拍摄学生证，可却使用私人手机拍摄，我对自己信息的安全性表示一定的怀疑。</p>

<p>可一想到电脑设置出现问题时去店里时遭到的待遇：是偏于无所谓的态度，眼睛男低着头摆弄着手机，话中意思大概是售后问题去找售后点，不关我们的事。这个其实是学校邮件设置问题，情况是只能接受邮件而无法发送，官方客服也不知如何是好。我自己解决后，特地告诉了官方客服并请求记录下解决方法。</p>

<p>如果天大北洋苹果店态度稍好，我也不至于今日产生强烈的不满。后来，有位自称天大北洋店工程师的人欲加我微信好友，表示愿意帮助我解决问题。当时心情郁闷的我，加上问题也解决了，就任性地选择了忽视。不得开心颜的我，也就顺理成章地写了这篇吐槽文。诚然，天大北洋科技开发有限公司母校也参了股。当时选择在这购买主要就是看中了这点，后来同学也打算在这买，我自然以自己糟糕的体验为例去劝阻，莫要迷惑了双眼。</p>

<p>衷心建议<code>天大北洋科技开发有限公司：苹果天大校园店</code>重视培养员工素质，不谈将客户视为上帝，至少也应该态度友好，真诚为顾客着想？既然你们店员说不提供售后，有使用问题也要找官方售后，既然贵店的服务体验也不佳，那又有何种理由在你店购物呢？打母校感情牌？抱歉我不会在你这购物了，甚至会劝阻朋友在你这购物。毕竟，解释某些操作时将我当作无知笨蛋的那种态度，前来问询时随口打发到官方售后店的做法......真有把自己当作母校的一份子？真有把我当作来自母校的朋友？</p>

<p>终于舒展了当日与今天的郁闷之情。</p>

<h2 id="toc_0">总结</h2>

<p>苹果官网的商品一般都不会降价，即便在新品上市前。苹果只会在特殊时间段如开学季促销，这也导致了相当一部分人用了同样的价格却买到了真实价值下降的产品。而新品上市前，经销商从苹果拿到商品的成本价应该会降低，但面对顾客的售价很可能也不变。所以无论怎样，最终只能是消费者买单。</p>

<p>我认为对顾客最友好的做法是按时间降价，似乎亚马逊原来就是这样的做法。突然降价的行为对购买者无疑是一种相当差的体验，新产品上市与旧产品同样价格的做法也是如此。这样的做法有助于企业得到最大化的利润，却深深地伤害了部分消费者的体验。我已经多次体会到了。然而我们又能怎么办呢？</p>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/17</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%97%A5%E8%AE%B0.html'>日记</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250906941645.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250899670979.html">
                
                  <h1>关于 AutoCAD 在高分辨率下的显示问题</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p>许多人都在责怪 Autodesk 公司，官方论坛中 <a href="http://forums.autodesk.com/t5/autocad-2013-2014-2015-2016-2017/why-autocad-2015-is-still-not-hidpi-compatible/td-p/4923998/highlight/true">这里</a>，<a href="http://forums.autodesk.com/t5/autocad-2013-2014-2015-2016-2017/dpi-scaling-autocad/td-p/5162511">还有这里</a> 均可以看到，其中一个意大利女建筑师 Silvia Orlandini 尤其让我印象深刻，但不幸的是 Autodesk 公司至今也并没有解决 AutoCAD 高分辨率下的显示问题，即使是 CAD 2017 依旧面临这个感人的问题。几乎所有的讨论（<a href="https://knowledge.autodesk.com/support/autocad/troubleshooting/caas/discussion/t5/AutoCAD-2013-2014-2015-2016-2017/Autocad-2015-very-small-toolbar-icons-and-unreadable-drop-down-menu-display/td-p/5466054.html">还有这个</a>），均有位自称 Autodesk 公司雇员 Bill Glennie 说公司开发团队已着手寻找解决办法。</p>

<p><img src="media/15250899670979/15250901601360.png" alt="" class="mw_img_center" style="width:300px;display: block; clear:both; margin: 0 auto;"/></p>

<p>在美联论坛也有讨论 <a href="https://forums.lenovo.com/t5/Lenovo-Yoga-Series-Notebooks/Yoga-2-Pro-tiny-fonts-in-some-applications/td-p/1286183">类似问题</a>，在 <a href="https://plus.google.com/+%E7%84%B6%E8%8B%A5%E6%B8%B8/posts/PFFKXfgBFic">Google+</a> 中也不乏声讨。在这些讨论中，有人说 Autodesk 公司指责这是微软的问题，电脑生产商认为这是微软和软件开发商的问题。似乎这个问题就是一个皮球，被踢来踢去，数年未解决这个问题也就不足为怪了。它终将解决，只是苦了从前、现在和一两年后的我们。</p>

<p>其实 Autodesk 也提供了所谓的办法，比如 <a href="https://knowledge.autodesk.com/support/autocad/troubleshooting/caas/sfdcarticles/sfdcarticles/Odd-graphics-display-when-working-with-a-high-resolution-high-dpi-monitor-in-AutoCAD.html?_ga=1.250369350.1598905365.1463623638">此方法</a>，<a href="https://knowledge.autodesk.com/support/autocad/troubleshooting/caas/discussion/t5/Inventor-General-Discussion/How-to-make-Menu-Ribbon-and-Browser-Text-much-larger-for-visually-impaired/td-p/4819181.html">还有这个</a>，但没有任何效果或者可能对稍低分辨率的显示器有效果。目前，我仅仅发现了一个折衷的方法。</p>

<p>开始界面也有显示问题，但 Autodesk 公司已提供了相关补丁。抱歉的是因较久之前安装的补丁，我忘记了其名与地址。</p>

<p><img src="media/15250899670979/15250902327560.png" alt=""/></p>

<p>前面所讲的折衷办法就在 <a href="http://www.danantonielli.com/adobe-app-scaling-on-high-dpi-displays-fix/">这里</a>，它不仅可以解决 Autodesk 系列产品比如 AutoCAD 在高分辨率下的显示问题，还可以解决 Adobe 系列产品比如 Photoshop 的的显示问题。但折衷办法会使 AutoCAD 界面模糊...虽然目前会出现重复显示的菜单，但是经常使用的主界面还是正常的。其实是我无法忍受模糊...</p>

<p><img src="media/15250899670979/15250902613646.png" alt=""/></p>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/17</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%A1%88%E4%BE%8B.html'>案例</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250899670979.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250898742649.html">
                
                  <h1>关于宗教的疑问与思考</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p>关于基督教的两个疑问和想法</p>

<pre><code class="language-text">神唯一么
</code></pre>

<p>圣经：创世纪第四章叙述亚当的次子该隐杀了哥哥亚伯，耶和华要把他赶走，该隐害怕凡遇见我的必杀我，耶和华就给该隐一个记号，免得人遇见他就杀他。【创 4:15】</p>

<p>问题：当时地上只有亚当一家，只传了一代，哪里来的别人？该隐到外地以后娶妻生子，又是娶的谁呢？那些可能杀该隐的人，那个在该隐流浪时作了他的妻子的女人，是否是别的神造出来的人。</p>

<p>朋友：创世纪只记载了该隐和亚伯，并不是说亚当一家没有别的后代。当时人们寿命很长约九百年，后代又繁衍后代，所以可能杀该隐的以及该隐娶的人都源自后代。</p>

<p>我：以现代人观念和寿命去推理会陷入误区。</p>

<pre><code class="language-text">耶稣尸体埋的天数
</code></pre>

<p>圣经：耶酥说，他要在土里给埋三天三夜，【太 12:40】。耶酥在第周六晚上被埋的，过了安息日也就是周一的清早坟墓就空了，共一天两夜，【可 15:42】、【约 20:1】。</p>

<p>朋友：犹太历周五晚上太阳落山到周六晚上太阳落山是安息日。我们现在周日礼拜是主日。星期日是七日的第一天。</p>

<p>我：按这样理解，耶酥在第周六（现在的周五）晚上被埋的，过了安息日（周五晚至周六晚）也就是周一（现在的周日）的清早坟墓就空了，周五晚上到周日早上还是一天两夜？</p>

<pre><code class="language-text">简要的想法
</code></pre>

<p>我很难想象这世界存在着一个人格化的神，但所接触的基督徒大都有良好的知识素养和善良的品格，故我不信基督，却愿意与基督徒适当交流。</p>

<h2 id="toc_0">阿尔伯特·爱因斯坦：我的世界观</h2>

<blockquote>
<p>我们这些总有一死的人的命运多么奇特！我们每个人在这个世界上都只作一个短暂的逗留；目的何在，却无从知道，尽管有时自以为对此若有所感。但是，不必深思，只要从日常生活就可以明白：人是为别人而生存的——首先是为那样一些人，我们的幸福全部依赖于他们的喜悦和健康；其次是为许多我们所不认识的人，他们的命运通过同情的纽带同我们密切结合在一起。我每天上百次的提醒自己：我的精神生活和物质生活都是以别人（包括生者和死者）的劳动为基础的，我必须尽力以同样的分量来报偿我所领受了的和至今还在领受着的东西。我强烈地向往着俭朴的生活。并且时常发觉自己占用了同胞的过多劳动而难以忍受。我认为阶级的区分是不合理的，它最后所凭借的是以暴力为根据。我也相信，简单淳朴的生活，无论在身体上还是在精神上，对每个人都是有益的。</p>

<p>我完全不相信人类会有那种在哲学意义上的自由。每一个人的行为不仅受着外界的强制，而且要适应内在的必然。叔本华说：“人虽然能够做他所想做的，但不能要他所想要的。”这句格言从我青年时代起就给了我真正的启示；在我自己和别人的生活面临困难的时候，它总是使我们得到安慰，并且是宽容的持续不断的源泉。这种体会可以宽大为怀地减轻那种容易使人气馁的责任感，也可以防止我们过于严肃地对待自己和别人；它导致一种特别给幽默以应有地位的人生观。</p>

<p>要追究一个人自己或一切生物生存的意义或目的，从客观的观点看来，我总觉得是愚蠢可笑的。可是每个人都有一些理想，这些理想决定着他的努力和判断的方向。就在这个意义上，我从来不把安逸和享乐看作生活目的本身——我把这种伦理基础叫做猪栏的理想。照亮我的道路，是善、美和真。要是没有志同道合者之间的亲切感情，要不是全神贯注于客观世界——那个在艺术和科学工作领域里永远达不到的对象，那么在我看来，生活就会是空虚的。我总觉得，人们所努力追求的庸俗目标——财产、虚荣、奢侈的生活——都是可鄙的。</p>

<p>我有强烈的社会正义感和社会责任感，但我又明显地缺乏与别人和社会直接接触的要求，这两者总是形成古怪的对照。我实在是一个“孤独的旅客”，我未曾全心全意地属于我的国家、我的家庭、我的朋友，甚至我最为接近的亲人；在所有这些关系面前，我总是感觉到一定距离而且需要保持孤独——而这种感受正与年俱增。人们会清楚地发觉，同别人的相互了解和协调一致是有限度的，但这不值得惋惜。无疑，这样的人在某种程度上会失去他的天真无邪和无忧无虑的心境；但另一方面，他却能够在很大程度上不为别人的意见、习惯和判断所左右，并且能够避免那种把他的内心平衡建立在这样一些不可靠的基础之上的诱惑。</p>

<p>我的政治理想是民主政体。让每一个人都作为个人而受到尊重，而不让任何人成为被崇拜的偶像。我自己一直受到同代人的过分的赞扬和尊敬，这不是由于我自己的过错，也不是由于我自己的功劳，而实在是一种命运的嘲弄。其原因大概在于人们有一种愿望，想理解我以自已微薄的绵力，通过不断的斗争所获得的少数几个观念，而这种愿望有很多人却未能实现。我完全明白，一个组织要实现它的目的，就必须有一个人去思考，去指挥、并且全面担负起责任来。但是被领导的人不应当受到强迫，他们必须能够选择自己的领袖。在我看来，强迫的专制制度很快就会腐化堕落。因为暴力所招引来的总是一些品德低劣的人，而且我相信，天才的暴君总是由无赖来继承的，这是一条千古不易的规律。就是由于这个缘故，我总强烈地反对今天在意大利和俄国所见到的那种制度。像欧洲今天所存在的情况，已使得民主形式受到怀疑，这不能归咎于民主原则本身，而是由于政府的不稳定和选举制度中与个人无关的特征。我相信美国在这方面已经找到了正确的道路。他们选出了一个任期足够长的总统，他有充分的权力来真正履行他的职责。另一方面，在德国政治制度中，为我所看重的是它为救济患病或贫困的人作出了可贵的广泛的规定。在人生的丰富多彩的表演中，我觉得真正可贵的，不是政治上的国家，而是有创造性的、有感情的个人，是人格；只有个人才能创造出高尚的和卓越的东西，而群众本身在思想上总是迟钝的，在感觉上也总是迟钝的。</p>

<p>讲到这里，我想起了群众生活中最坏的一种表现，那就是使我厌恶的军事制度。一个人能够洋洋得意的随着军乐队在四列纵队里行进，单凭这一点就足以使我对他鄙夷不屑。他所以长了一个大脑，只是出于误会；光是骨髓就可满足他的全部需要了。文明的这种罪恶的渊薮，应当尽快加以消灭。任人支配的英雄主义、冷酷无情的暴行，以及在爱国主义名义下的一切可恶的胡闹，所有这些都使我深恶痛绝！在我看来，战争是多么卑鄙、下流！我宁愿被千刀万剐，也不愿参与这种可憎的勾当。尽管如此，我对人类的评价还是十分高的，我相信，要是人民的健康感情没有遭到那些通过学校和报纸而起作用的商业利益和政治利益的蓄意败坏，那么战争这个妖魔早就该绝迹了。</p>

<p>我们所能有的最美好的经验是奥秘的经验。它是坚守在真正艺术和真正科学发源地上的基本感情。谁要体验不到它，谁要是不再有好奇心，也不再有惊讶的感觉，谁就无异于行尸走肉，他的眼睛便是模糊不清的。就是这样奥秘的经验——虽然掺杂着恐惧——产生了宗教。我们认识到有某种为我们所不能洞察的东西存在，感觉到那种只能以其最原始的形式接近我们的心灵的最深奥的理性和最灿烂的美——正是这种认识和这种情感构成了真正的宗教感情；在这个意义上，而且也只是在这个意义上，我才是一个具有深挚的宗教感情的人。我无法想象存在这样一个上帝，它会对自己的创造物加以赏罚，会具有我们在自己身上所体验到的那种意志。我不能也不愿去想象一个人在肉体死亡以后还会继续活着；让那些脆弱的灵魂，由于恐惧或者由于可笑的唯我论，去拿这种思想当宝贝吧！我自己只求满足于生命永恒的奥秘，满足于觉察现存世界的神奇结构，窥见它的一鳞半爪，并且以诚挚的努力去领悟在自然界中显示出来的那个理性的一部分，倘若真能如此，即使只领悟其极小的一部分，我也就心满意足了。</p>
</blockquote>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/17</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%B2%89%E6%80%9D%E5%BD%95.html'>沉思录</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250898742649.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
              


			<div class="row">
			  <div class="large-6 columns">
			  <p class="text-left" style="padding-top:25px;">
			   <a href="all_5.html">&laquo; Prev Page</a>  
			  </p>
			  </div>
			  <div class="large-6 columns">
			<p class="text-right" style="padding-top:25px;">
			 <a href="all_7.html">&raquo; Next Page</a> 
			</p>
			  </div>
			</div>
		</div>
	</div><!-- large 8 -->

 <div class="large-4 medium-4 columns">
  <div class="hide-for-small">
    <div id="sidebar" class="sidebar">
          <div id="site-info" class="site-info">
            
                <div class="site-a-logo"><img src="logo.jpg" /></div>
            
                <h1>唐小筑</h1>
                <div class="site-des">少数派作者 & 个人博客</div>
                <div class="social">





<a target="_blank" class="quora" href="https://www.quora.com/profile/TANG-XIAOZHU" title="Quora">Quora</a>

<a target="_blank" class="weibo" href="https://weibo.com/u/6502478659" title="weibo">Weibo</a>
<a target="_blank" class="twitter" target="_blank" href="https://twitter.com/heytxz" title="Twitter">Twitter</a>
<a target="_blank" class="github" target="_blank" href="https://github.com/heytxz" title="GitHub">GitHub</a>
<a target="_blank" class="email" href="mailto:heytxz@gmail.com" title="Email">Email</a>
  <a target="_blank" class="rss" href="atom.xml" title="RSS">RSS</a>
                
              	 </div>
          	</div>

             

              <div id="site-categories" class="side-item ">
                <div class="side-header">
                  <h2>Categories</h2>
                </div>
                <div class="side-content">

      	<p class="cat-list">
        
            <a href="%E5%B9%B4%E5%BA%A6.html"><strong>年度</strong></a>
        
            <a href="%E6%A1%88%E4%BE%8B.html"><strong>案例</strong></a>
        
            <a href="%E6%97%A5%E8%AE%B0.html"><strong>日记</strong></a>
        
            <a href="%E6%B2%89%E6%80%9D%E5%BD%95.html"><strong>沉思录</strong></a>
        
            <a href="%E5%B0%91%E6%95%B0%E6%B4%BE.html"><strong>少数派</strong></a>
        
            <a href="Python.html"><strong>Python</strong></a>
        
            <a href="%E6%AF%8F%E5%91%A8%E5%88%86%E4%BA%AB.html"><strong>每周分享</strong></a>
         
        </p>


                </div>
              </div>

              <div id="site-categories" class="side-item">
                <div class="side-header">
                  <h2>Recent Posts</h2>
                </div>
                <div class="side-content">
                <ul class="posts-list">
	      
		      
			      <li class="post">
			        <a href="15530813745899.html">左与右的理解</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="15458307303169.html">我的购物省钱心得</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="15458305176391.html">再谈 iPad Pro 的学术生产力</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="15458303913069.html">静态博客第三方评论系统的探索</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="15458299839572.html">AirPods 蓝牙显示名称自动改名</a>
			      </li>
		     
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		   
		  		</ul>
                </div>
              </div>
        </div><!-- sidebar -->
      </div><!-- hide for small -->
</div><!-- large 4 -->

</div><!-- row -->

 <div class="page-bottom clearfix">
  <div class="row">
   <p class="copyright">Copyright &copy; 2018 CC BY-NC-SA 4.0
   </p>
  </div>
</div>

        </section>
      </div>
    </div>


<script type="text/javascript">
    var disqus_shortname = 'tangxiaozhu'; 

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<script type="text/javascript">
var disqus_shortname = 'tangxiaozhu'; 

(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
  
    

    <script src="asset/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
      function fixSidebarHeight(){
        var w1 = $('.markdown-body').height();
          var w2 = $('#sidebar').height();
          if (w1 > w2) { $('#sidebar').height(w1); };
      }
      $(function(){
        fixSidebarHeight();
      })
      $(window).load(function(){
          fixSidebarHeight();
      });
     
    </script>

    

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118380825-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118380825-1');
</script>

  </body>
</html>
