<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
    
  案例 - 唐小筑
  
  </title>
  
  
  <link href="atom.xml" rel="alternate" title="唐小筑" type="application/atom+xml">
    <link rel="stylesheet" href="asset/css/foundation.min.css" />
    <link rel="stylesheet" href="asset/css/docs.css" />
    <script src="asset/js/vendor/modernizr.js"></script>
    <script src="asset/js/vendor/jquery.js"></script>
  <script src="asset/highlightjs/highlight.pack.js"></script>
  <link href="asset/highlightjs/styles/github.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
  function before_search(){
    var searchVal = 'site:blog.tangxiaozhu.com ' + document.getElementById('search_input').value;
    document.getElementById('search_q').value = searchVal;
    return true;
  }
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5534298415663110",
    enable_page_level_ads: true
  });
</script>

  </head>
  <body class="antialiased hide-extras">
    
    <div class="marketing off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">


<nav class="top-bar docs-bar hide-for-small" data-topbar>


  <section class="top-bar-section">
  <div class="row">
      <div style="position: relative;width:100%;"><div style="position: absolute; width:100%;">
        <ul id="main-menu" class="left">
        
        <li id=""><a target="self" href="index.html">Home</a></li>
        
        <li id=""><a target="_self" href="archives.html">Archives</a></li>
        
        </ul>

        <ul class="right" id="search-wrap">
          <li>
<form target="_blank" onsubmit="return before_search();" action="https://google.com/search" method="get">
    <input type="hidden" id="search_q" name="q" value="" />
    <input tabindex="1" type="search" id="search_input"  placeholder="Search"/>
</form>
</li>
          </ul>
      </div></div>
  </div>
  </section>

</nav>

        <nav class="tab-bar show-for-small">
  <a href="javascript:void(0)" class="left-off-canvas-toggle menu-icon">
    <span> &nbsp; 唐小筑</span>
  </a>
</nav>

<aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        
        <li><a target="self" href="index.html">Home</a></li>
        
        <li><a target="_self" href="archives.html">Archives</a></li>
        

    <li><label>Categories</label></li>

        
            <li><a href="%E5%B9%B4%E5%BA%A6.html">年度</a></li>
        
            <li><a href="%E6%A1%88%E4%BE%8B.html">案例</a></li>
        
            <li><a href="%E6%97%A5%E8%AE%B0.html">日记</a></li>
        
            <li><a href="%E6%B2%89%E6%80%9D%E5%BD%95.html">沉思录</a></li>
        
            <li><a href="%E5%B0%91%E6%95%B0%E6%B4%BE.html">少数派</a></li>
        
            <li><a href="Python.html">Python</a></li>
        
            <li><a href="%E6%AF%8F%E5%91%A8%E5%88%86%E4%BA%AB.html">每周分享</a></li>
         

      </ul>
    </aside>

<a class="exit-off-canvas" href="#"></a>


        <section id="main-content" role="main" class="scroll-container">
        
       

 <script type="text/javascript">
	$(function(){
		$('#menu_item_index').addClass('is_active');
	});
</script>
<div class="row">
	<div class="large-8 medium-8 columns">
		<div class="markdown-body home-categories">
		
			<div class="article">
                <a class="clearlink" href="15250926629285.html">
                
                  <h1>我的 macOS 使用心得</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p>之前做了大量关于 macOS 的使用笔记，有些确实很有参考价值，但也许是误删导致丢失了。现在我的文档管理已经相当有条理了，丢失的现象也不会再发生。重新记录 macOS 的使用心得及遇到的问题。</p>

<h2 id="toc_0">阅读和写作</h2>

<p>阅读电子书我一般使用 Kindle 或者 iBook 客户端，而 PDF Expert（预览 -&gt; Skim -&gt; Foxit -&gt; PDFelement -&gt; PDF Expert）是我心里在 macOS 上最好的 PDF 阅读器。</p>

<p>写短篇文章几乎任何文字处理程序都可以胜任，但胜任长篇甚至是大型电子书写作的就不多了。考虑过写小说的我试过以下应用，但后来不再试着写小说。</p>

<ul>
<li>iBook Author，可以说是功能最为齐全的写作工具，这也使它比较重；</li>
<li>小黑屋，可惜颜值不高；</li>
<li>GitBook，可以与 GitHub 仓库绑定，可以协作写书和发表， 最新版对中文字体的支持也已改善；</li>
<li>Type.im（已改名为妙笔），是一款很轻也很美的写作工具，支持 Markdown，独特的是支持为每个文件添加备注。</li>
<li>壹写作，全平台，支持大纲、人物关系图示、发布到诸多如腾讯文学的小说网站。</li>
</ul>

<p>我无事就会写写博客，目前最常用 MWeb（Mou -&gt; MacDown -&gt; Typora -&gt; MarkEditor -&gt; MWeb），这是横空出世的重量级产品！但 MarkEditor 对文件的排序更聪明，也有其他的好功能，虽然它只支持到二级目录，但它还是我的常用工具。</p>

<h2 id="toc_1">游戏和娱乐</h2>

<p><a href="http://www.openra.net/">经典红色警戒</a> macOS &amp; Windows &amp; Linux<br/>
魔兽争霸之冰封王座 macOS &amp; Windows<br/>
Steam macOS &amp; Windows<br/>
战网 macOS &amp; Windows</p>

<h2 id="toc_2">技巧</h2>

<p>三指滑动可以选择文本……</p>

<p><strong>快捷键</strong>，有时候觉着 macOS 没有 Windows 方便，但其实是没发现 macOS 不易被发现的便利：</p>

<ol>
<li>复制文件路径 <code>option + command + c</code></li>
<li>锁屏 <code>control + shift + power</code></li>
<li>显示与隐藏文件 <code>shift + command + .</code></li>
<li>先复制再剪切 <code>command + option + v</code> </li>
</ol>

<p><strong>替身、软硬链接</strong>：<a href="http://h2appy.blog.51cto.com/609721/1354001">这篇文章</a> 详细阐述了各自的特点。总的来说，<strong>替身</strong>，移动源文件位置替身依旧有效，但是替身并不包含路径信息，即应用并不能识别替身；对于<strong>软连接</strong>，如果移动了源文件那么这个链接也就无效了，但是软链接可以被应用识别，比如你将应用的资料文件移到同步盘，然后生成软链接并放在原来资料文件所在的位置，这时应用仍能识别；硬链接的使用情景很少，就不做介绍。</p>

<p>生成软链接：<code>ln -s 源文件路径 软链接路径</code></p>

<p><strong>验证哈希值</strong>：</p>

<ol>
<li>计算 MD5 值：<code>md5 &lt;文件路径&gt;</code> </li>
<li>计算 SHA1 值：<code>shasum -a 1 &lt;文件路径&gt;</code> </li>
<li>计算 SHA256 值：<code>shasum -a 256 &lt;文件路径&gt;</code> </li>
</ol>

<p><strong>安卓共享网络</strong>：由于缺乏驱动，安卓手机一般是无法与 Macintosh 通过数据线共享网络的。幸好 <a href="http://joshuawise.com/">Joshua Wise</a> 的作品 <a href="http://joshuawise.com/horndis">HoRNDIS</a> 使 Macintosh 具备了这项能力。</p>

<h2 id="toc_3">问题</h2>

<ul>
<li><p>SciDAVis 1.14 行数字显示不全；SciDAVis 1.D8 行数字显示正常。</p></li>
<li><p>Chrome 更新失败。Chrome 更新失败（错误 11，12）确认可通过此方法解决。退出 Chrome 浏览器, 并进入到指定目录。我直接复制命令到终端提示不存在这样的目录，但可以直接从 Finder 前往此目录。然后在 <code>Resources</code> 下执行以下命令。参考了 <a href="http://www.v1en.com/2016/04/26/chrome_for_mac_update_err_11/">梦寒</a> 文章。</p></li>
</ul>

<pre><code class="language-text">cd /Library/Google/GoogleSoftwareUpdate/GoogleSoftwareUpdate.bundle/Contents/Resources/GoogleSoftwareUpdateAgent.app/Contents/Resources/

卸载 KeyStone：sudo ./ksinstall --uninstall
删除 chrome 更新目录：sudo rm -rf /Library/Google/GoogleSoftwareUpdate/
</code></pre>

<ul>
<li><p>无法响应。更新系统之后，在主系统打开许多应用，然后打开 Windows 10 虚拟机，机器就基本死机了，只能缓慢动弹。原因未知。此问题在最近又自己消失了……</p></li>
<li><p>长期待机将会导致 macOS 睡眠和虚拟内存文件庞大起来，建议每月关机一次释放空间。而且，关机以后才会触发 FileVault 硬盘加密，这意味着如果没有关机而电脑被偷走，是有被破解的可能，关机杜绝了这个可能。 </p></li>
</ul>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/18</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%A1%88%E4%BE%8B.html'>案例</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250926629285.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250920685912.html">
                
                  <h1>删除此电脑中的六个文件</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p>强迫症总要为一些奇葩的问题奔波，Windows 系统让强迫症抓狂……</p>

<p><img src="media/15250920685912/15250920907321.png" alt=""/></p>

<h2 id="toc_0">方法一</h2>

<p>使用注册表删除法，复制粘贴一下内容，保存为 REG 文件，双击，确定，即可。可以全部删除，也可以部分删除。</p>

<h3 id="toc_1">Windows 8.1 &amp; 10 1507 及之前</h3>

<pre><code class="language-text">同样适用于旧版本 WIN 10
========= 复制下面内容 ========= 去除减号 &#39;-&#39; 再运行即可还原
Windows Registry Editor Version 5.00
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{1CF1260C-4DD0-4ebb-811F-33C572699FDE}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{374DE290-123F-4565-9164-39C4925E467B}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{3ADD1653-EB32-4cb0-BBD7-DFA0ABB5ACCA}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{A0953C92-50DC-43bf-BE83-3742FED03C9C}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{A8CDFF1C-4878-43be-B5FD-F8091C1C60D0}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{B4BFCC3A-DB2C-424C-B029-7FE99A87C641}]
</code></pre>

<h3 id="toc_2">Windows 10 1511 及之后</h3>

<pre><code class="language-text">适用于的新版本 WIN 10 （自 2015 年 12 月后）
========= 复制下面内容 ========= 去除减号 &#39;-&#39; 再运行即可还原
Windows Registry Editor Version 5.00
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{f86fa3ab-70d2-4fc7-9c99-fcbf05467f3a}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{d3162b92-9365-467a-956b-92703aca08af}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{B4BFCC3A-DB2C-424C-B029-7FE99A87C641}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{3dfdf296-dbec-4fb4-81d1-6a3438bcf4de}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{088e3905-0323-4b02-9826-5d99428e115f}]
[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\MyComputer\NameSpace\{24ad3ad4-a569-4530-98e1-ab02f9417aa8}]
</code></pre>

<h2 id="toc_3">方法二</h2>

<p>在搜索框输入 “regedit” 进入注册表编辑器，找到 <code>HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\FolderDescriptions</code>之后，再找到下列六项，分别将 <code>PropertyBag</code>中的 <code>ThisPCPolicy</code> 由 <code>show</code> 改为 <code>Hide</code> 即可。若要还原再改回 <code>show</code> 即可。</p>

<pre><code class="language-text">　&gt; “图片”：{0ddd015d-b06c-45d5-8c4c-f59713854639}\PropertyBag
　&gt; “视频”：{35286a68-3c57-41a1-bbb1-0eae73d76c95}\PropertyBag
　&gt; “下载”：{7d83ee9b-2244-4e70-b1f5-5393042af1e4}\PropertyBag
　&gt; “音乐”：{a0c69a99-21c8-4671-8703-7934162fcf1d}\PropertyBag
　&gt; “桌面”：{B4BFCC3A-DB2C-424C-B029-7FE99A87C641}\PropertyBag
　&gt; “文档”：{f42ee2d3-909f-4907-8871-4c22fc0bf756}\PropertyBag
</code></pre>

<p><img src="media/15250920685912/15250921882531.png" alt=""/></p>

<p>方法一源自：<a href="http://www.myxzy.com/post-431.html">星知苑</a><br/>
方法二源自：<a href="http://www.pconline.com.cn/win10/741/7412340.html">太平洋电脑网</a></p>

<p>此两种方法风险极小，注册表可保持完整，网上也有其他涉及到删除指定注册表的方法，若要采用务必备份注册表以防意外。</p>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/18</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%A1%88%E4%BE%8B.html'>案例</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250920685912.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250922329733.html">
                
                  <h1>使用 Hexo 搭建博客的深度优化与定制</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<ul>
<li>
<a href="#toc_0">深度优化</a>
<ul>
<li>
<a href="#toc_1">文章链接唯一化</a>
</li>
<li>
<a href="#toc_2">语法优化</a>
<ul>
<li>
<a href="#toc_3">引用</a>
</li>
<li>
<a href="#toc_4">折叠代码或文字</a>
</li>
</ul>
</li>
<li>
<a href="#toc_5">搜索引擎优化</a>
<ul>
<li>
<a href="#toc_6">添加网站地图</a>
</li>
<li>
<a href="#toc_7">添加蜘蛛协议</a>
</li>
<li>
<a href="#toc_8">限制出站链接</a>
</li>
<li>
<a href="#toc_9">主动推送新链接</a>
</li>
</ul>
</li>
<li>
<a href="#toc_10">启用 https</a>
</li>
<li>
<a href="#toc_11">加速国内访问</a>
</li>
</ul>
</li>
<li>
<a href="#toc_12">深度定制</a>
<ul>
<li>
<a href="#toc_13">每篇文章后面加文字</a>
</li>
<li>
<a href="#toc_14">修改链接文字样式</a>
</li>
<li>
<a href="#toc_15">目录默认全展开</a>
</li>
<li>
<a href="#toc_16">删除上下篇按钮</a>
</li>
<li>
<a href="#toc_17">修改授权协议图标</a>
</li>
<li>
<a href="#toc_18">添加其他分享</a>
</li>
</ul>
</li>
<li>
<a href="#toc_19">一键图床</a>
</li>
<li>
<a href="#toc_20">错误信息</a>
<ul>
<li>
<a href="#toc_21">LF will be replaced</a>
</li>
<li>
<a href="#toc_22">无法生成 html</a>
</li>
</ul>
</li>
<li>
<a href="#toc_23">题外话</a>
<ul>
<li>
<a href="#toc_24">标题优化</a>
</li>
<li>
<a href="#toc_25">为何要使用图床</a>
</li>
</ul>
</li>
</ul>


<p>由于操作失误出现未知错误，不得不重新来过，同时也萌发写教程的打算。关于 Hexo 建立博客的文章数不胜数，本文只是简要介绍这点，重点是深度优化与定制部分。</p>

<p>移除：卸载 Git 和 Node 后，删除所有博客文件即为移除。如果遭遇文件夹无法删除的情况，使用命令 <code>rd/s/q</code> 可强制删除。</p>

<p>安装：利用基于 Node.js 的 Hexo 可以快速搭建一个博客网站。搭建前必须安装 <a href="https://nodejs.org/en/">Node.js</a> 和 <a href="https://git-scm.com/">Git</a>。Node.js 是一款开源且跨平台的服务器端和网络应用，使用 JavaScript 开发。Git 是一款免费、开源的分布式版本控制系统。安装过程中全点下一步即可。之后，请参照 <a href="https://hexo.io/zh-cn/docs/index.html">官方中文文档</a> 进行 Hexo 的安装。</p>

<p>网站初始化：在指定文件夹初始化网站文件。在你想存储网站文件的文件夹中，鼠标右键后，打开 <code>Git Bash Here</code>，然后输入 <code>hexo init blog</code>，<code>blog</code> 是文件名，可任意取。成功后会出现 <code>INFO  Start blogging with Hexo!</code> 提示信息。Windows 用户由于自带的记事本简陋难用，故建议安装 <a href="https://notepad-plus-plus.org/">Notepad++</a> 以编辑 .yml 文件。</p>

<p>主题：在此建议使用最受欢迎的 NexT 主题，参照其 <a href="http://theme-next.iissnan.com/getting-started.html">官方文档</a> 可轻易完成配置。安装插件的命令要在博客根目录下执行。</p>

<h2 id="toc_0">深度优化</h2>

<h3 id="toc_1">文章链接唯一化</h3>

<p>也许你会数次更改文章题目或者变更文章发布时间，在默认设置下，文章链接都会改变，不利于搜索引擎收录，也不利于分享。唯一永久链接才是更好的选择。安装此插件后，不要在 <code>hexo s</code> 模式下更改文章文件名，否则文章将成空白。</p>

<pre><code class="language-text">npm install hexo-abbrlink --save
</code></pre>

<p>在 <code>站点配置文件</code> 中查找代码 <code>permalink:</code>，将其更改为:</p>

<pre><code class="language-text">permalink: posts/:abbrlink/  # “posts/” 可自行更换 
</code></pre>

<p>在 <code>站点配置文件</code> 中添加如下代码：</p>

<pre><code class="language-text"># abbrlink config
abbrlink:
  alg: crc32  # 算法：crc16(default) and crc32 
  rep: hex    # 进制：dec(default) and hex
</code></pre>

<p>可参照样例以选择：</p>

<pre><code class="language-text">crc16 &amp; hex
https://post.zz173.com/posts/66c8.html

crc16 &amp; dec
https://post.zz173.com/posts/65535.html

crc32 &amp; hex
https://post.zz173.com/posts/8ddf18fb.html

crc32 &amp; dec
https://post.zz173.com/posts/1690090958.html
</code></pre>

<h3 id="toc_2">语法优化</h3>

<h4 id="toc_3">引用</h4>

<p>默认的语法无法添加角标（footnotes）以注明引用，这种可来回跳转的引用还是挺有用处的。</p>

<pre><code class="language-text">npm install hexo-footnotes --save
</code></pre>

<p>安装完毕请确认是否生效，如不生效，在 <code>站点配置文件</code> 中添加如下代码以手动启用：</p>

<pre><code class="language-text">plugins:
  - hexo-footnotes
</code></pre>

<p><img src="media/15250922329733/15250923179919.jpg" alt=""/></p>

<h4 id="toc_4">折叠代码或文字</h4>

<p><code>&lt;head&gt;</code> 后添加一下代码：</p>

<pre><code class="language-text">  &lt;script&gt;
    function ishidden(odiv){
      var vdiv = document.getElementById(odiv);
      vdiv.style.display = (vdiv.style.display == &#39;none&#39;)?&#39;block&#39;:&#39;none&#39;;
    }
  &lt;/script&gt;
</code></pre>

<pre><code class="language-text">&lt;div onclick=&quot;ishidden(&#39;X&#39;)&quot;&gt;点击此处展开内容&lt;/div&gt;
&lt;div id=&quot;X&quot; style=&quot;display:none;&quot;&gt;需要折叠的代码或文字放在这里&lt;/div&gt;
</code></pre>

<p>X 为标记，任意设置，在同一文章中，各不相同即可。</p>

<h3 id="toc_5">搜索引擎优化</h3>

<p>我在简书同步发布文章，搜索结果里简书排在首位，我的独立博客可能找不到，必须要进行 SEO 优化。</p>

<h4 id="toc_6">添加网站地图</h4>

<pre><code class="language-text">npm install hexo-generator-sitemap --save
npm install hexo-generator-baidu-sitemap --save
</code></pre>

<p>在 <code>站点配置文件</code> 中添加如下代码。</p>

<pre><code class="language-text"># hexo sitemap 
sitemap:
path: sitemap.xml
baidusitemap:
path: baidusitemap.xml
</code></pre>

<p>配置成功后，会生成 <code>sitemap.xml</code> 和 <code>baidusitemap.xml</code>，前者适合提交给谷歌搜素引擎，后者适合提交百度搜索引擎。其次，在 <code>robots.txt</code> 中添加下面的一段代码：</p>

<pre><code class="language-text">Sitemap: http://blog.tangxiaozhu.com/sitemap.xml
Sitemap: http://blog.tangxiaozhu.com/baidusitemap.xml
</code></pre>

<h4 id="toc_7">添加蜘蛛协议</h4>

<p><code>robots.txt</code> 放置在 <code>\source</code>  目录下。</p>

<pre><code class="language-text">#hexo robots.txt
User-agent: *
Allow: /
Allow: /archives/

Disallow: /vendors/
Disallow: /js/
Disallow: /css/
Disallow: /fonts/
Disallow: /vendors/
Disallow: /fancybox/

Sitemap: http://blog.tangxiaozhu.com/search.xml

Sitemap: http://blog.tangxiaozhu.com/sitemap.xml
Sitemap: http://blog.tangxiaozhu.com/baidusitemap.xml
</code></pre>

<p>此协议内容上与其他相比，增加了 <code>Sitemap: http://blog.tangxiaozhu.com/search.xml</code>，当然我也忘了为何增加。</p>

<h4 id="toc_8">限制出站链接</h4>

<p>网络爬虫会在当前页面搜索所有的链接，故有可能跳到别的网站。<code>nofollow</code> 标签是由谷歌领头创新的一个 “反垃圾链接” 的标签，并被各大搜索引擎广泛支持，引用 <code>nofollow</code> 标签的目的是：用于指示搜索引擎不要追踪（即抓取）网页上的带有 <code>nofollow</code> 属性的任何出站链接，以减少垃圾链接的分散网站权重。</p>

<pre><code class="language-text">npm install hexo-autonofollow --save
</code></pre>

<p>在 <code>站点配置文件</code> 中添加如下代码。</p>

<pre><code class="language-text">nofollow:
    enable: true
    exclude: # 例外的链接，可将友情链接放置此处
    - exclude1.com
    - exclude2.com
</code></pre>

<h4 id="toc_9">主动推送新链接</h4>

<p>解决百度爬虫被禁止访问的问题，提升网站收录质量和速度。</p>

<pre><code class="language-text">npm install hexo-baidu-url-submit --save
</code></pre>

<p>在 <code>站点配置文件</code> 中添加如下代码。</p>

<pre><code class="language-text">baidu_url_submit:
  count: 5 ## 比如3，代表提交最新的三个链接
  host: blog.tangxiaozhu.com ## 在百度站长平台中注册的域名
  token:  ## 请注意这是您的秘钥， 请不要发布在公众仓库里!
  path: baidu_urls.txt ## 文本文档的地址， 新链接会保存在此文本文档里
</code></pre>

<h3 id="toc_10">启用 https</h3>

<p>注册 <a href="https://www.cloudflare.com">CloudFlare</a>，然后添加网站地址（顶级域名），会提示将 DNS 换为：</p>

<pre><code class="language-text">charles.ns.cloudflare.com
ivy.ns.cloudflare.com
</code></pre>

<p>DNSPod 等不能与 CloudFlare 混用，为减少麻烦，一次使用一个 Name Server 比较好。此时等待一段时间 <code>Overview</code> 中状态会变为 <code>Active</code>。然后在 <code>Page Rules</code> 中设置总是使用 <code>https</code>，如图所示。</p>

<p><img src="media/15250922329733/15250924123144.png" alt=""/></p>

<p>但是在搞定以后，却无法变成小绿锁，因为七牛的图床外链是 <code>http</code>，似乎收费或者绑定自定义域名并备案才可以申请使用 <code>https</code>，<a href="https://github.com/Suxiaogang/WeiboPicBed">新浪微博图床</a> 支持返回 <code>https</code> 安全协议的图片地址。但最终我又用回 <code>http</code>，因为不确认微博图床的可靠性，然后最好清除下浏览器缓存。</p>

<p><img src="media/15250922329733/15250924310356.png" alt=""/></p>

<h3 id="toc_11">加速国内访问</h3>

<p>同时部署到 <code>Coding.net</code>，在 DnsPod 设置默认访问 <code>you.coding.me</code>，国外访问 <code>you.github.io</code>即可。</p>

<h2 id="toc_12">深度定制</h2>

<p>也许只适用于 NexT 主题，而深度优化是通用的。所有内容是 NexT 主题 <a href="http://theme-next.iissnan.com/getting-started.html">官方文档</a> 所没有的。</p>

<h3 id="toc_13">每篇文章后面加文字</h3>

<p><code>layout/_macro/post.swig</code> 修改：</p>

<pre><code class="language-text"> {{ post.content }}
          {% endif %}
        {% endif %}
      {% else %}
        {{ post.content }}
        
# 大家好，这里是 NexT 主题下的文章内容底部位置
# 既然来啦，写点什么这里吧，写上去，所有文章底部都看到哦
        
      {% endif  %}
</code></pre>

<h3 id="toc_14">修改链接文字样式</h3>

<p>将链接文本设置为蓝色，鼠标划过时文字颜色加深，并显示下划线。</p>

<p><code>themes\next\source\css\_common\components\post\post.styl</code> 添加以下代码：</p>

<pre><code class="language-text">.post-body p a{
  color: #0593d3;
  border-bottom: none;

  &amp;:hover {
    color: #0477ab;
    text-decoration: underline;
  }
}
</code></pre>

<p>选择 <code>.post-body</code> 是为了不影响标题，选择 <code>p</code> 是为了不影响首页“阅读全文”的显示样式。</p>

<p>参考：<a href="http://www.wuxubj.cn/2016/08/Hexo-nexT-build-personal-blog/">http://www.wuxubj.cn/2016/08/Hexo-nexT-build-personal-blog/</a></p>

<h3 id="toc_15">目录默认全展开</h3>

<p><code>~/themes/next/source/css/_custom/custom.styl</code> 中添加以下代码：</p>

<pre><code class="language-text">.post-toc .nav .nav-child { display: block; }
</code></pre>

<p>这样会导致目录太长，以至于在一个页面中无法全部显示。不过并不会影响阅读体验。</p>

<h3 id="toc_16">删除上下篇按钮</h3>

<p><code>themes\next\layout\_macro\post</code></p>

<pre><code class="language-text"> rel=&quot;tag&quot;&gt;#{{ tag.name }}&lt;/a&gt;
          {% endfor %}
        &lt;/div&gt;
      {% endif %}

删除开始    {% if not is_index and (post.prev or post.next) and not navlessPost %}
        &lt;div class=&quot;post-nav&quot;&gt;
          &lt;div class=&quot;post-nav-next post-nav-item&quot;&gt;
            {% if post.next %}
              &lt;a href=&quot;{{ url_for(post.next.path) }}&quot; rel=&quot;next&quot; title=&quot;{{ post.next.title }}&quot;&gt;
                &lt;i class=&quot;fa fa-chevron-left&quot;&gt;&lt;/i&gt; {{ post.next.title }}
              &lt;/a&gt;
            {% endif %}
          &lt;/div&gt;

          &lt;div class=&quot;post-nav-prev post-nav-item&quot;&gt;
            {% if post.prev %}
              &lt;a href=&quot;{{ url_for(post.prev.path) }}&quot; rel=&quot;prev&quot; title=&quot;{{ post.prev.title }}&quot;&gt;
                {{post.prev.title}} &lt;i class=&quot;fa fa-chevron-right&quot;&gt;&lt;/i&gt;
              &lt;/a&gt;
            {% endif %}
          &lt;/div&gt;
        &lt;/div&gt;
结束    {% endif %}
&lt;/div&gt;
</code></pre>

<p>注意：利用最上方的代码可以定位，如果后悔可再添加删除的代码。</p>

<h3 id="toc_17">修改授权协议图标</h3>

<p>在 <a href="https://creativecommons.org/about/downloads/">授权协议官网</a> 下载想要的矢量图片，替换即可。</p>

<h3 id="toc_18">添加其他分享</h3>

<p>添加跟我博客同样的分享条，请看 <a href="http://wiki.mob.com/sharesdk-for-web%E5%BF%AB%E9%80%9F%E9%9B%86%E6%88%90/">官方文档</a>，具体的操作方式请看 <a href="http://https://segmentfault.com/a/1190000004979461">Magicer 的教程</a>。</p>

<pre><code class="language-text">&lt;!--MOB SHARE BEGIN--&gt;
&lt;div class=&quot;-mob-share-ui-button -mob-share-open&quot;&gt;分享&lt;/div&gt;
&lt;div class=&quot;-mob-share-ui&quot; style=&quot;display: none&quot;&gt;
    &lt;ul class=&quot;-mob-share-list&quot;&gt;
        &lt;li class=&quot;-mob-share-weibo&quot;&gt;&lt;p&gt;新浪微博&lt;/p&gt;&lt;/li&gt;
        &lt;li class=&quot;-mob-share-tencentweibo&quot;&gt;&lt;p&gt;腾讯微博&lt;/p&gt;&lt;/li&gt;
        &lt;li class=&quot;-mob-share-qzone&quot;&gt;&lt;p&gt;QQ空间&lt;/p&gt;&lt;/li&gt;
        &lt;li class=&quot;-mob-share-qq&quot;&gt;&lt;p&gt;QQ好友&lt;/p&gt;&lt;/li&gt;
        &lt;li class=&quot;-mob-share-renren&quot;&gt;&lt;p&gt;人人网&lt;/p&gt;&lt;/li&gt;
        &lt;li class=&quot;-mob-share-kaixin&quot;&gt;&lt;p&gt;开心网&lt;/p&gt;&lt;/li&gt;
        &lt;li class=&quot;-mob-share-douban&quot;&gt;&lt;p&gt;豆瓣&lt;/p&gt;&lt;/li&gt;
        &lt;li class=&quot;-mob-share-facebook&quot;&gt;&lt;p&gt;Facebook&lt;/p&gt;&lt;/li&gt;
        &lt;li class=&quot;-mob-share-twitter&quot;&gt;&lt;p&gt;Twitter&lt;/p&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;div class=&quot;-mob-share-close&quot;&gt;取消&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;-mob-share-ui-bg&quot;&gt;&lt;/div&gt;
&lt;script id=&quot;-mob-share&quot; src=&quot;http://f1.webshare.mob.com/code/mob-share.js?appkey=你的appkey&quot;&gt;&lt;/script&gt;
&lt;!--MOB SHARE END--&gt;  
</code></pre>

<p>注意 <code>appkey</code> 要修改为自己的。</p>

<h2 id="toc_19">一键图床</h2>

<p>适用于两种平台的免费软件，可以一键上传图片到七牛等服务器，同时获取外链。没有提供自动压缩功能实在遗憾，可惜我又不会编程。</p>

<ol>
<li>macOS 平台：<a href="http://www.lzqup.com/">U 图床</a> &amp; <a href="https://github.com/liufsd/PhotoCloud">PhotoCloud</a> &amp; iPic</li>
<li>Windows 平台：<a href="http://mpic.lzhaofu.cn/">MPic</a></li>
</ol>

<h2 id="toc_20">错误信息</h2>

<h3 id="toc_21">LF will be replaced</h3>

<p>Windows 提交命令的时候出现 <code>warning: LF will be replaced by CRLF in XXXXXXXXXXXXXX</code> 的警告。输入命令：</p>

<pre><code class="language-text">git config --global core.autocrlf false
</code></pre>

<h3 id="toc_22">无法生成 html</h3>

<p>输入<code>Hexo g</code> 后没有生成 <code>html</code> 文件，此时只需将根目录下 <code>package.json</code> 中 <code>dependencies</code> 的所有项都添加 <code>站点配置文件</code> 的 <code>plugins</code> 下。网上并没有相应的解决办法，知乎上也有提问却并没有回答，我也是不断试错，最后明白有时候手动启用插件才是正途。比如：</p>

<pre><code class="language-text">plugins: 
  - hexo
  - hexo-abbrlink
  - hexo-baidu-url-submit
  - hexo-deployer-git
  - hexo-footnotes
  - hexo-generator-archive
  - hexo-generator-baidu-sitemap
  - hexo-generator-category
  - hexo-generator-feed
  - hexo-generator-index
  - hexo-generator-searchdb
  - hexo-generator-sitemap
  - hexo-generator-tag
  - hexo-renderer-ejs
  - hexo-renderer-marked
  - hexo-renderer-stylus
  - hexo-server
</code></pre>

<h2 id="toc_23">题外话</h2>

<h3 id="toc_24">标题优化</h3>

<p>将标题、关键字、描述连在一起，固然有利于 SEO 但并不美观，故我拒绝。</p>

<h3 id="toc_25">为何要使用图床</h3>

<p>GitHub 建议 Pages 网站总量不要超过 1 GB，如果超过会发送邮件要求缩减体积，只是你也可以无视这个提醒，但过度使用的话一定会被限制的。GitHub 提供每月 100 GB 的流量。从这个角度来看，使用 GitHub 本身作为图床确实没问题，也即将图片放在 <code>source</code> 下再引用是完全可行的。甚至有人利用 GitHub 开发图床服务。</p>

<p>然而还要考虑这些问题。首先，国内与 GitHub 的连接是比较缓慢的，故会减缓网站访问速度和增加部署时间；其次，总量越来越大，如果网络是计流量的话将难以承担。</p>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/17</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%A1%88%E4%BE%8B.html'>案例</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250922329733.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250918783638.html">
                
                  <h1>我的密码管理心得</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p>我现在全面使用 1Password 来管理我的账号密码及密保、软件许可等信息，在此简要地介绍 1Password 的优点：</p>

<ol>
<li>全平台且优美；</li>
<li>支持指纹解锁；</li>
<li>数据库可备份在自己的云盘，如 Dropbox 等；</li>
<li>支持安全检查，如密码已使用时间、弱密码等；</li>
<li>集成了二步验证系统。 </li>
</ol>

<hr/>

<p>四年前我更换了手机号，尝到了帐号找回或重注册的种种烦恼，比如网易，我甚至上传了身份证照片以找回安全信息，后来也颇有后悔之意，因为我并不常用网易邮箱。如京东之类的帐号就删除订单记录等再重注册。且愿我的隐私信息还能称之为隐私。这段经历使我痛定思痛，又联想到更久远的时间丢失的帐号。于是，我就有了现在这一密码、密保等信息的管理方式，省心且放心。</p>

<p>必须告诉诸位，这一方式极其容易上手，所要做的不过是 <strong>安装几个应用</strong>，只是录入信息较为消耗时间。也许大部分女同胞及部分男同学并不在乎账户的相关问题，无非再注册的事情。可将我们的虚拟财产加以适当的保护至少是件听着还不错的事，所以即使你的帐号、密码等大同小异，也不妨记录下来，尤其是密保信息。</p>

<p><img src="media/15250918783638/15250919124376.png" alt=""/></p>

<h2 id="toc_0">MacPass</h2>

<p><a href="https://github.com/mstarke/MacPass">MacPass</a> 是 <a href="http://keepass.info/">KeePass</a> 官方推荐的第三方开源且免费的 Mac KeePass 客户端。<a href="https://minikeepass.github.io/">MiniKeePass</a> 是第三方开源且免费的 iOS KeePass 客户端。</p>

<p>MacPass 默认是只保护密码，我则点选了保护所有项目。因为为了方便我会在<code>注释</code>里存储许多重要信息，并不使用<code>自定义</code>等功能。加密轮次可以点击测试，会自动推荐一个值。但实际上我并不了解这样做是否更安全。</p>

<p>密码数据库后设置密码，任选一文件作为密钥文件或者新生成。将数据库存储在网盘同步盘，将密钥文件存储在另一网盘，分离存储也加强了安全性。若完全不愿意借助云，则可以存储在移动介质。</p>

<h2 id="toc_1">MiniKeePass</h2>

<p>在 iPhone 上使用 MiniKeePass 应用：在 Mac 上更新密码后，在 iPhone 上将网盘新同步的密码库导出到 MiniKeePass 中打开，原密码库将被覆盖。</p>

<p>另外，可以在 MiniKeePass 中再新建一个数据库，在 iPhone 上注册新账号时，可以纪录用户名，并生成密码。之后，再在 Mac 上录入原数据库。<strong>不建议</strong> 在 MiniKeePass 中的原数据库（即网盘同步的数据库）纪录 iPhone 上注册的帐号，虽然从 MiniKeePass 可以导入到网盘，但有的网盘会自动覆盖掉原数据库，可能会丢失 Mac 上还没来得及同步的数据。</p>

<h2 id="toc_2">辅助方案</h2>

<p>iPhone 上也可使用 1Password 作两点用途：</p>

<ol>
<li>记录常用帐号密码，诸多应用已支持自动输入，但密保信息仅纪录在 KeePass 中；</li>
<li>许多应用以支持 1Password 自动创建新账号和密码，而后在电脑上录入到 KeePass 客户端。</li>
</ol>

<p>在 Mac 上可以使用浏览器或扩展如 LastPass 记住常用密码，但不要纪录密保信息等。这个帐号管理方法我已尝试两年有余，方法安全且主要涉及的应用均免费开源。我几乎不再记忆任何密码，也再也不担忧丢失帐号信息。而且部分网站的密保系统再复杂我也可以轻松应对。</p>

<p>最近，又对每次都要复制粘贴密码感到烦了。于是，我将自己的账号分为三个等级：</p>

<ol>
<li>第一序列：涉及到财产的账号；</li>
<li>第二序列：不直接涉及财产但较为重要的；</li>
<li>第三序列：一般账号。</li>
</ol>

<p>然后针对每一序列设计不同的密码规则，包含大小写字母、符号、数字，这样我就记住了所有密码。而 KeePass 最大的作用就是记录密保等关键信息。</p>

<p>诗云：安能摧眉折腰记密码，使我不得开心颜！</p>

<p><a href="http://mstarke.github.io/MacPass/">KeePass for Mac</a><br/>
<a href="https://itunes.apple.com/us/app/minikeepass-secure-password/id451661808?mt=8">KeePass for iOS</a> <br/>
<a href="http://keepass.info/download.html">KeePass for Windows</a><br/>
<a href="http://www.keepassdroid.com/">KeePass for Android</a></p>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/17</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%A1%88%E4%BE%8B.html'>案例</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250918783638.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250917271061.html">
                
                  <h1>MacBook 升级方案</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p>我持有的设备是 MacBook Pro，但是升级方案一般是通用的。我更建议在购买时一步到位，虽然贵很多，但后续升级要承担风险，并会失去保修资格。</p>

<p>注意，2013 之后内存是无法升级的，除非完全更换主板，但价格、风险总体上高于收益。</p>

<p>磁盘的扩容主要有三个途径：</p>

<ol>
<li>直接更换 SSD：<a href="https://eshop.macsales.com/shop/ssd/owc/macbook-pro-retina-display/2013-2014-2015">OWC Macsales</a>；</li>
<li>装载 SD 卡：淘宝，<a href="http://www.dgtle.com/article-9657-1.html">Nifty</a>，<a href="https://cn.transcend-info.com/apple/jetdrivelite/">创见</a> ；</li>
<li>装载 SD 融合卡：<a href="https://www.tardisk.com/pages/buy">TarDisk</a>。</li>
</ol>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/17</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%A1%88%E4%BE%8B.html'>案例</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250917271061.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250914805050.html">
                
                  <h1>快速切换 Apple App Store 账号</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p>Mac App Store：</p>

<ol>
<li>mas，<a href="https://sspai.com/post/40382">终端上的 Mac App Store「mas」让应用的安装与更新无比轻松</a>；</li>
<li>Switcher，<a href="https://github.com/X140Yu/Switcher">Switcher for macOS</a>；</li>
<li>Keyboard Maestro，<a href="http://readful.com/post/77044128470/%E5%88%A9%E7%94%A8-keyboard-maestro-%E5%88%87%E6%8D%A2-appstore-%E5%B8%90%E6%88%B7">利用 Keyboard Maestro 切换 Appstore 帐户</a>；</li>
<li>Alfred，<a href="http://www.packal.org/workflow/apple-account-switcher">Apple Account Switcher</a>；</li>
<li>AppleScript，找不到了……</li>
</ol>

<p>iOS App Store：</p>

<ul>
<li>使用 Workflow 换区。</li>
</ul>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/17</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%A1%88%E4%BE%8B.html'>案例</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250914805050.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250899670979.html">
                
                  <h1>关于 AutoCAD 在高分辨率下的显示问题</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p>许多人都在责怪 Autodesk 公司，官方论坛中 <a href="http://forums.autodesk.com/t5/autocad-2013-2014-2015-2016-2017/why-autocad-2015-is-still-not-hidpi-compatible/td-p/4923998/highlight/true">这里</a>，<a href="http://forums.autodesk.com/t5/autocad-2013-2014-2015-2016-2017/dpi-scaling-autocad/td-p/5162511">还有这里</a> 均可以看到，其中一个意大利女建筑师 Silvia Orlandini 尤其让我印象深刻，但不幸的是 Autodesk 公司至今也并没有解决 AutoCAD 高分辨率下的显示问题，即使是 CAD 2017 依旧面临这个感人的问题。几乎所有的讨论（<a href="https://knowledge.autodesk.com/support/autocad/troubleshooting/caas/discussion/t5/AutoCAD-2013-2014-2015-2016-2017/Autocad-2015-very-small-toolbar-icons-and-unreadable-drop-down-menu-display/td-p/5466054.html">还有这个</a>），均有位自称 Autodesk 公司雇员 Bill Glennie 说公司开发团队已着手寻找解决办法。</p>

<p><img src="media/15250899670979/15250901601360.png" alt="" class="mw_img_center" style="width:300px;display: block; clear:both; margin: 0 auto;"/></p>

<p>在美联论坛也有讨论 <a href="https://forums.lenovo.com/t5/Lenovo-Yoga-Series-Notebooks/Yoga-2-Pro-tiny-fonts-in-some-applications/td-p/1286183">类似问题</a>，在 <a href="https://plus.google.com/+%E7%84%B6%E8%8B%A5%E6%B8%B8/posts/PFFKXfgBFic">Google+</a> 中也不乏声讨。在这些讨论中，有人说 Autodesk 公司指责这是微软的问题，电脑生产商认为这是微软和软件开发商的问题。似乎这个问题就是一个皮球，被踢来踢去，数年未解决这个问题也就不足为怪了。它终将解决，只是苦了从前、现在和一两年后的我们。</p>

<p>其实 Autodesk 也提供了所谓的办法，比如 <a href="https://knowledge.autodesk.com/support/autocad/troubleshooting/caas/sfdcarticles/sfdcarticles/Odd-graphics-display-when-working-with-a-high-resolution-high-dpi-monitor-in-AutoCAD.html?_ga=1.250369350.1598905365.1463623638">此方法</a>，<a href="https://knowledge.autodesk.com/support/autocad/troubleshooting/caas/discussion/t5/Inventor-General-Discussion/How-to-make-Menu-Ribbon-and-Browser-Text-much-larger-for-visually-impaired/td-p/4819181.html">还有这个</a>，但没有任何效果或者可能对稍低分辨率的显示器有效果。目前，我仅仅发现了一个折衷的方法。</p>

<p>开始界面也有显示问题，但 Autodesk 公司已提供了相关补丁。抱歉的是因较久之前安装的补丁，我忘记了其名与地址。</p>

<p><img src="media/15250899670979/15250902327560.png" alt=""/></p>

<p>前面所讲的折衷办法就在 <a href="http://www.danantonielli.com/adobe-app-scaling-on-high-dpi-displays-fix/">这里</a>，它不仅可以解决 Autodesk 系列产品比如 AutoCAD 在高分辨率下的显示问题，还可以解决 Adobe 系列产品比如 Photoshop 的的显示问题。但折衷办法会使 AutoCAD 界面模糊...虽然目前会出现重复显示的菜单，但是经常使用的主界面还是正常的。其实是我无法忍受模糊...</p>

<p><img src="media/15250899670979/15250902613646.png" alt=""/></p>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/17</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%A1%88%E4%BE%8B.html'>案例</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250899670979.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250893927841.html">
                
                  <h1>下载何须迅雷</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p>通常浏览器下载就可以满足日常需求。迅雷也一直是一个很好的加速下载工具，但是它有些笨重了。本次介绍下载利器 <code>curl</code> 这个免费开源工具。本文灵感来源于此谷歌博客：<a href="http://yyq123.blogspot.com/2009/09/curl.html">语虚</a>。</p>

<h2 id="toc_0"><a href="https://curl.haxx.se/">curl</a></h2>

<p>使用 <a href="https://ec.haxx.se/usingcurl-downloads.html">终端命令</a>：比如 <code>cd</code> 到桌面目录，输入 <code>curl -O https://www.jianguoyun.com/p/DeQRYFYQ--fwBRju_h4</code> 回车即可在桌面得到名为 <code>DeQRYFYQ--fwBRju_h4</code> 的文件。大写字母 <code>o</code> 意为 <code>remote-name</code>。如果想要自定义文件名可以输入 <code>curl -o 自定义.名字 https://www.jianguoyun.com/p/DeQRYFYQ--fwBRju_h4</code>。</p>

<p>更多命令及讲解可 <a href="https://ec.haxx.se/usingcurl-downloads.html">看这里</a>。<code>curl</code> 更多功能，比如还支持断点下载、使用代理下载、限制文件大小或网速等等，具体可看 <a href="https://ec.haxx.se/usingcurl.html">这里</a>。</p>

<p><code>curl</code> 虽然可满足日常的下载需求，但是比如 PT 资源也需要其他工具。</p>

<h3 id="toc_1">其他工具</h3>

<p><strong>PT 下载工具</strong><br/>
两者均免费开源且无广告的 BT 下载工具。</p>

<ul>
<li><a href="https://www.transmissionbt.com/">Transmission</a>  Macintosh &amp; Linux</li>
<li><a href="http://www.qbittorrent.org/">qBittorrent</a>  Macintosh &amp; Windows</li>
</ul>

<p><strong>评价</strong></p>

<ul>
<li>flox<br/>
号称 Macintosh 下最好的下载器，但是我并没有发现特别的亮点，通常用浏览器下载就行了。</li>
<li>迅雷<br/>
搞个迅雷会员来下载某些资源确实挺给力，但日常需求完全不需要用它。不简洁的软件就是不喜欢。Windows 上有迷你版，Macintosh 却没有。</li>
<li>电驴<br/>
似乎是在 2016 年重出江湖。确实是神器，在备用的 Windows 中使用，资源大多比较污。</li>
</ul>

<p>命令行最大的劣势就是不直观，但熟悉了也就「直观」了，况且如此简洁且强大，值得一学。但我几乎只使用浏览器下载，如果有要下载的特殊资源，会在虚拟机中开迅雷或 QQ 旋风下载。</p>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/17</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%A1%88%E4%BE%8B.html'>案例</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250893927841.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250545534760.html">
                
                  <h1>关于文字排版</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p><a href="https://github.com/mzlogin/chinese-copywriting-guidelines">中文文案排版指北</a> 和 <a href="https://sspai.com/post/37815">少数派写作排版指南</a> 是我主要的参照。</p>

<p>指北中讲到，如「豆瓣FM」等产品名词按照官方所定义的格式书写，但哪有「豆瓣 FM」好看，所以我不能认同，除非产生歧义，否则还是因该遵循中英文间加空格。</p>

<p>指北中讲到，数字与单位之间无需增加空格，度和百分比与数字之间也不需要。这点我也不完全赞同，因为数字和单位之间有些类似数字和中文之间，我认为应该加，但度和百分比除外。</p>

<p>确定一套优美的写作规范是一个漫长的过程，还要考虑到不同应用或网站的解析效果，我尽量统一自己的规范，但愿能给大家一些参考。</p>

<blockquote>
<p>Microsoft 有个 -ms-text-autospace 的 CSS 属性可以实现自动为中英文之间增加空白。不过目前并未普及，另外在其他应用场景，例如 OS X、iOS 的用户界面目前并不存在这个特性，所以请继续保持随手加空格的习惯。</p>
</blockquote>

<h3 id="toc_0">博客写作规范</h3>

<ol>
<li>中文、英文之间加空格；</li>
<li>中文、数字之间加空格。这点我还没有完全说服自己，比如年月日之间加空格太稀疏，但不加也不合适；</li>
<li>符号、数字之间加空格，专有名词之间不加；</li>
<li>超链接文字两边加空格，除非前后都是标点符号。</li>
</ol>

<h3 id="toc_1">论文写作规范</h3>

<ol>
<li>数字、单位之间加空格，除非单位是温度和百分号，也有出版社认为温度是单位故需加空格；</li>
<li>中文、数字之间加空格，具体要依据出版社要求。</li>
</ol>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/17</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%A1%88%E4%BE%8B.html'>案例</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250545534760.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="15250542406068.html">
                
                  <h1>系统安装记录及问题解决</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p>系统的安装常常会出现一些问题。此文记录了用 U 盘安装系统的经验，但并非详细的教程，操作步骤随意搜索即可得到。</p>

<h2 id="toc_0">安装 Ubuntu</h2>

<p>2016 年 11 月份在旧联想本安装其最新版本。</p>

<p><strong>报错信息</strong></p>

<ul>
<li>对不起。发生了一个错误，不能在指定的位置安装启动引导程序。</li>
<li>无法将 grub-pc 软件包安装到 /target/ 中。如果没有 GRUB 启动引导器，所安装的系统将无法启动。</li>
</ul>

<p>搜索到的解决方案：</p>

<ol>
<li>重新使用 <a href="https://rufus.akeo.ie/?locale=zh_CN">Rufus</a> 烧录镜像</li>
<li>在电脑 BIOS 关闭 UEFI</li>
<li>安装过程中保持联网</li>
</ol>

<p>搜索到的解决方案，基本都只用了其中一步就可以解决问题。我第一步完成后，依旧报错，把二三步设置好就一路畅通。并不知道二和三步谁是必不可少，还是说都是必须设置的。</p>

<h2 id="toc_1">安装 Windows XP</h2>

<p>由于 Ubuntu 过于小众且难以塑造良好的生产环境，故在2016年12月份在旧联想本安装原版 Windows XP with SP3，工具使用  WinSetupFromUSB，似乎也只能借助这个软件才能使用 U 盘安装 XP，具体过程请 <a href="http://blog.csdn.net/littlefang/article/details/6851864">参照这里</a>。</p>

<p>实际上，我建议使用 Ghost XP 安装，无人值守并且集成驱动确实可以省却很多功夫。之前我只安装原版系统，但 XP 无疑是较为适合使用 Ghost XP 来安装。虽然我通过 WinSetupFromUSB 成功安装了原版 XP 但遇到了一些棘手的问题，比如鼠标驱动无法安装。后来使用深度 Ghost XP 的本地硬盘安装方式重装了 XP，体验让我满意。</p>

<p><strong>那么 Ghost 系统是何含义</strong><br/>
即先把系统安装在制作者电脑上，制作者进行修改或优化，然后把安装系统的硬盘分区用 Norton Ghost 进行完全备份，此备份就称之为 Ghost 系统。但也要注意，推广者或许会安装自家全家桶软件，恶意者甚至会留下后门。故，虽然 Ghost 系统的安装实际上就是还原，速度会很快，也免去了诸多配置，但也要小心使用网上流传的 Ghost 系统。另外，多数 Ghost 系统自身集成了多数硬件的驱动，故增加了不兼容故障的可能性。</p>

<p>Ghost 是 General Hardware Oriented System Transfer（通用硬体导向系统转移）的简写，作为单词的含义为幽灵。其英文全称为 Norton Ghost（Symantec Ghost），中文全称为诺顿（赛门铁克）克隆精灵。Ghost 是硬盘克隆程序，可快速而完整地备份和还原整个硬盘或分区。赛门铁克于 2014 年 6 月 30 日后不再提供 Ghost 的支持服务，2010 年发布的 Ghost 15 是最终的版本。其建议转移使用的新软件 Symantec System Recovery（赛门铁克系统恢复）与 Ghost 使用的备份引擎相同，可视为 Ghost 16 版本。</p>

<p><strong>原版系统安装过程中的问题</strong></p>

<ul>
<li>没有检测到大容量硬盘<br/>
也即没有识别出硬盘。不要急，此时重启，在选择 <code>First part of Windows XP Professional setup</code>界面时，应该有四个选项，其中第三个是 <code>First part of Windows XP Professional setup</code>。选择第一个，回车键执行以后会识别出硬盘，如果第一个不起作用可以选择第二个选项。之后再选择 <code>First part of Windows XP Professional setup</code> 按照原教程进行安装。</li>
<li>安装程序无法复制文件
<img src="media/15250542406068/15250543195776.png" alt=""/></li>
</ul>

<p>全部按 <code>ESC</code> 跳过就可以成功安装 XP 系统。但是后续可能出现兼容问题，比如我遇到鼠标无法识别的问题，而且无论是借助驱动人生还是手动方式都无法成功安装相应驱动。</p>

<p><strong>失败的安装经历</strong></p>

<ol>
<li>选用成功安装 Ubuntu 的工具：Rufus<br/>
选择 U 盘启动但没有进入安装界面。Rufus 设置信息：MBR 分区方案 用于 BIOS 或 UEFI-CSM 的计算机。当文件系统设置为 FAT 时电脑无法识别，也即没有任何反应就进入了原系统；设置为 NTFS 时，刻录会出现 %s 未知错误。</li>
<li>选用本科时重装 Windows 7 的必用工具：UltraISO<br/>
报错信息 <code>INF file txtsetup.sif is corrupt or missing, Status 18</code>，原因是 U 盘被误当 C 盘，也只有在安装 XP 时会遇到这个问题。</li>
</ol>

<h2 id="toc_2">安装 Windows 7</h2>

<p>Windows 7 及更高版本系统的安装随意选择烧录工具即可用 U 盘正常安装。</p>

<h2 id="toc_3">安装 Windows 10</h2>

<p>2017 年 8 月 5 日安装 Windows 10 系统，电脑型号为 Dell M301Z，这是一款变态的电脑：</p>

<ol>
<li>易升下载了三遍还要继续重新下载，这是微软的锅，弃用；</li>
<li>采用微软官方 Windows 10 下载安装器（意外发现除了易升还有它），但安装过程中却提示出错信息 <code>Windows Could Not Configure one or components</code>，停留在此界面按照油管上的解决方案也许可以解决，可我已经关闭电脑了……</li>
<li>为此我还是采用 U 盘安装的方式，但使用 Rufus、软碟通烧制的启动器都出现问题：Rufus 是从 U 盘无法启动；软碟通则是直接卡在 Windows 10 Logo 界面，无法弹出安装界面；</li>
<li>使用 WinSetupFromUSB 烧录镜像，一切正常。</li>
</ol>

<p><strong>Rufus、软碟通失败原因推测</strong>：也许因为 U 盘是 NIFT 格式，而 WinSetupFromUSB 将 U 盘格式化为 FAT 格式。</p>

<p>结论：不论是安装 Windows 10 还是其他 Windows 系统，WinSetupFromUSB 应该是最佳的选择，这是我遇到的出现 BUG 机率最低的应用。而 Linux 系统最好选择 Rufus，安装 macOS 只需按照官方教程即可。</p>

<h2 id="toc_4">安装 macOS</h2>

<p>安装官方教程轻松安装，全程只需依照教程输入数句命令。</p>

<h2 id="toc_5">相关知识</h2>

<h3 id="toc_6">分区方案</h3>

<p><strong>MBR 分区方案</strong><br/>
MBR（Master Boot Record）即主引导记录，也称为主引导扇区。其硬盘分区表仅有 64 个字节，而每个分区信息需要 16 个字节，所以采用 MBR 分区的硬盘最多只能识别 4 个主要分区。也因为 MBR 分区方案使用 4 个字节（32 个比特）存储分区的总扇区数，最大能表示 2<sup>32</sup> 个扇区，硬盘驱动器（HDD）每扇区为 512 字节，故每个分区最大不能超过 2 TB。</p>

<p><strong>GPT 分区方案</strong><br/>
GPT（Globally Unique Identifier Partition Table Format）即 GUID 分区表、全局唯一标识分区表。其为源于 EFI （Extensible Firmware Interface，可扩展固件接口 ） 标准的一种较新的磁盘分区表。这种分区方式大大突破了 MBR 分区的限制，而且也做了其他优化。唯一的缺点就是旧设备也许不支持使用 GPT 分区的磁盘。</p>

<h3 id="toc_7">引导模式</h3>

<p>UEFI BIOS 支持两种引导模式：Legacy BIOS 引导模式和 UEFI 引导模式。某些设备和操作系统尚不支持基于 UEFI 的 BIOS，因此只能从 Legacy BIOS 引导模式引导。较新的设备提供了 CSM（Compatibility support Module）选项，其表示兼容模块，开启 CSM 使设备支持 UEFI 启动和非 UEFI 启动。</p>
<center>
<p><img src="media/wxcode.jpg" alt=""/><br/>
扫一扫即可关注微信公众号<br/>
</center></p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2017/8/17</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='%E6%A1%88%E4%BE%8B.html'>案例</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      
                        <a href="https://blog.tangxiaozhu.com/15250542406068.html#disqus_thread">comments</a>
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
              


			<div class="row">
			  <div class="large-6 columns">
			  <p class="text-left" style="padding-top:25px;">
			   <a href="案例_2.html">&laquo; Prev Page</a>  
			  </p>
			  </div>
			  <div class="large-6 columns">
			<p class="text-right" style="padding-top:25px;">
			 <a href="案例_4.html">&raquo; Next Page</a> 
			</p>
			  </div>
			</div>
		</div>
	</div><!-- large 8 -->

 <div class="large-4 medium-4 columns">
  <div class="hide-for-small">
    <div id="sidebar" class="sidebar">
          <div id="site-info" class="site-info">
            
                <div class="site-a-logo"><img src="logo.jpg" /></div>
            
                <h1>唐小筑</h1>
                <div class="site-des">少数派作者 & 个人博客</div>
                <div class="social">





<a target="_blank" class="quora" href="https://www.quora.com/profile/TANG-XIAOZHU" title="Quora">Quora</a>

<a target="_blank" class="weibo" href="https://weibo.com/u/6502478659" title="weibo">Weibo</a>
<a target="_blank" class="twitter" target="_blank" href="https://twitter.com/heytxz" title="Twitter">Twitter</a>
<a target="_blank" class="github" target="_blank" href="https://github.com/heytxz" title="GitHub">GitHub</a>
<a target="_blank" class="email" href="mailto:heytxz@gmail.com" title="Email">Email</a>
  <a target="_blank" class="rss" href="atom.xml" title="RSS">RSS</a>
                
              	 </div>
          	</div>

             

              <div id="site-categories" class="side-item ">
                <div class="side-header">
                  <h2>Categories</h2>
                </div>
                <div class="side-content">

      	<p class="cat-list">
        
            <a href="%E5%B9%B4%E5%BA%A6.html"><strong>年度</strong></a>
        
            <a href="%E6%A1%88%E4%BE%8B.html"><strong>案例</strong></a>
        
            <a href="%E6%97%A5%E8%AE%B0.html"><strong>日记</strong></a>
        
            <a href="%E6%B2%89%E6%80%9D%E5%BD%95.html"><strong>沉思录</strong></a>
        
            <a href="%E5%B0%91%E6%95%B0%E6%B4%BE.html"><strong>少数派</strong></a>
        
            <a href="Python.html"><strong>Python</strong></a>
        
            <a href="%E6%AF%8F%E5%91%A8%E5%88%86%E4%BA%AB.html"><strong>每周分享</strong></a>
         
        </p>


                </div>
              </div>

              <div id="site-categories" class="side-item">
                <div class="side-header">
                  <h2>Recent Posts</h2>
                </div>
                <div class="side-content">
                <ul class="posts-list">
	      
		      
			      <li class="post">
			        <a href="15530922043883.html">这就是我的爱情追求</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="15530813745899.html">左与右的理解</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="15522283621444.html">我想好好度过每一小时每一天</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="15458307303169.html">我的购物省钱心得</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="15458305176391.html">再谈 iPad Pro 的学术生产力</a>
			      </li>
		     
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		   
		  		</ul>
                </div>
              </div>
        </div><!-- sidebar -->
      </div><!-- hide for small -->
</div><!-- large 4 -->

</div><!-- row -->

 <div class="page-bottom clearfix">
  <div class="row">
   <p class="copyright">Copyright &copy; 2018 CC BY-NC-SA 4.0
   </p>
  </div>
</div>

        </section>
      </div>
    </div>


<script type="text/javascript">
    var disqus_shortname = 'tangxiaozhu'; 

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<script type="text/javascript">
var disqus_shortname = 'tangxiaozhu'; 

(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
  
    

    <script src="asset/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
      function fixSidebarHeight(){
        var w1 = $('.markdown-body').height();
          var w2 = $('#sidebar').height();
          if (w1 > w2) { $('#sidebar').height(w1); };
      }
      $(function(){
        fixSidebarHeight();
      })
      $(window).load(function(){
          fixSidebarHeight();
      });
     
    </script>

    

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118380825-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118380825-1');
</script>

  </body>
</html>
